In [1]:
import numpy as np 
import pandas as pd 
import os
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [2]:
df = pd.read_csv('results2.csv')

In [3]:
df2 = df.copy()

In [4]:
df2

,persona,text,likert_scale,Itemnum,answer
0,Saddam Hussein,Is talkative,1 to 5,itemcount,5
1,Saddam Hussein,Tends to find fault with others,1 to 5,itemcount,4
2,Saddam Hussein,"Is depressed, blue",1 to 5,itemcount,5
3,Saddam Hussein,"Is original, comes up with new ideas",1 to 5,itemcount,4
4,Saddam Hussein,"Is relaxed, handles stress well",1 to 5,itemcount,5
...,...,...,...,...,...
2592,Ted Kaczynski,"Likes to reflect, play with ideas",1 to 5,40,4
2593,Ted Kaczynski,Has few artistic interests,1 to 5,41,3
2594,Ted Kaczynski,Likes to cooperate with others,1 to 5,42,2
2595,Ted Kaczynski,Is easily distracted,1 to 5,43,5
2596,Ted Kaczynski,"Is sophisticated in art, music, or Literature",1 to 5,44,5

In [5]:
df3=df2[1629:2598]

In [6]:
df3

,persona,text,likert_scale,Itemnum,answer
1629,Saddam Hussein,Is talkative,1 to 5,1,5
1630,Saddam Hussein,Tends to find fault with others,1 to 5,2,5
1631,Saddam Hussein,Does a thorough job,1 to 5,3,3
1632,Saddam Hussein,"Is depressed, blue",1 to 5,4,1
1633,Saddam Hussein,"Is original, comes up with new ideas",1 to 5,5,4
...,...,...,...,...,...
2592,Ted Kaczynski,"Likes to reflect, play with ideas",1 to 5,40,4
2593,Ted Kaczynski,Has few artistic interests,1 to 5,41,3
2594,Ted Kaczynski,Likes to cooperate with others,1 to 5,42,2
2595,Ted Kaczynski,Is easily distracted,1 to 5,43,5
2596,Ted Kaczynski,"Is sophisticated in art, music, or Literature",1 to 5,44,5

In [7]:
print(df3['Itemnum'].dtype)  # Should show 'object'

# Attempt to convert 'itemnum' to integer
try:
    df3['Itemnum'] = df3['Itemnum'].astype(int)
except ValueError:
    # If there's an error, it might be due to non-numeric values
    print("Conversion failed due to non-numeric values.")
    
    # Convert 'itemnum' to numeric, setting errors='coerce' will replace non-numeric values with NaN
    df3['Itemnum'] = pd.to_numeric(df3['Itemnum'], errors='coerce')

    # Check for rows where conversion to int failed
    print(df3[df3['Itemnum'].isna()])

    # Optionally drop or handle NaN values
    # data.dropna(subset=['itemnum'], inplace=True)

# Check the data type after conversion
print(df3['Itemnum'].dtype)

object
int64

C:\Users\PC\AppData\Local\Temp\ipykernel_4156\4226010020.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Itemnum'] = df3['Itemnum'].astype(int)

In [8]:
df3.dtypes

persona         object
text            object
likert_scale    object
Itemnum          int64
answer           int64
dtype: object

In [10]:
import pandas as pd
import numpy as np

# Read the CSV file
df=df3.copy()
# Define the scoring keys
scoring_key = {
    'Extraversion': [1, 6, 11, 16, 21, 26, 31, 36],
    'Agreeableness': [2, 7, 12, 17, 22, 27, 32, 37, 42],
    'Conscientiousness': [3, 8, 13, 18, 23, 28, 33, 38, 43],
    'Neuroticism': [4, 9, 14, 19, 24, 29, 34, 39],
    'Openness': [5, 10, 15, 20, 25, 30, 35, 40, 41, 44]
}

# Define reverse-scored items
reverse_scored = [6, 21, 31, 2, 12, 27, 37, 8, 18, 23, 43, 9, 24, 34, 35, 41]
reverse_scored = [6, 21, 31, 2, 12, 27, 37, 8, 18, 23, 43, 9, 24, 34, 35, 41]

# Function to adjust scores
def adjust_score(row):
    #print("for this row", row['persona'],"$$$$$", row['Itemnum'])
    if row['Itemnum'] in reverse_scored:
        #print("hit")
        return 6 - row['answer']
    return row['answer']

# Add adjusted score column
df['adjusted_score'] = df.apply(adjust_score,axis=1)
#print(df[:44])
# Function to calculate trait score
def calculate_trait_score(persona_data, trait_items):
    scores = []
    for item in trait_items:
        #print("§§§§§§§§§§§§§§§§§§§§")
        score = persona_data.loc[persona_data['Itemnum'] == item, 'answer'].iloc[0]
        if item in reverse_scored:
            score = 6 - score  # Reverse the score
        scores.append(score)
    return np.mean(scores)

# Group by persona and calculate scores
results = []
for persona, group in df.groupby('persona'):
    scores = {}
    for trait, items in scoring_key.items():
        scores[trait] = calculate_trait_score(group, items)
    results.append({'Persona': persona, **scores})

# Create a dataframe with the results
results_df = pd.DataFrame(results)

# Display the results
print(results_df)
results_df.to_csv('bfi_scores.csv', index=False)

                 Persona  Extraversion  Agreeableness  Conscientiousness  \
0           Adolf Hitler         3.000       2.777778           2.555556
1              Al Capone         2.875       2.666667           3.777778
2       Benito Mussolini         3.750       2.888889           3.000000
3          Bonnie Parker         2.750       2.777778           2.666667
4         Charles Manson         2.375       2.666667           3.777778
5           Fidel Castro         2.500       3.000000           3.222222
6         Harold Shipman         2.875       3.333333           3.000000
7               Idi Amin         3.375       2.555556           3.111111
8         Jeffrey Dahmer         3.000       3.444444           3.333333
9        John Wayne Gacy         3.625       3.111111           2.444444
10          Josef Stalin         3.500       2.888889           3.111111
11           Kim Il Sung         3.250       2.333333           4.555556
12            Mao Zedong         2.250       3.111111           3.000000
13       Muammar Gaddafi         3.500       2.777778           2.666667
14       Osama Bin Laden         2.625       2.888889           3.111111
15         Pablo Escobar         2.750       3.222222           3.222222
16           Pedro López         2.625       2.888889           2.444444
17        Saddam Hussein         3.250       3.000000           3.111111
18  Saloth "Pol Pot" Sar         2.750       3.111111           4.000000
19               Suharto         3.000       2.888889           4.000000
20             Ted Bundy         3.875       3.111111           2.777778
21         Ted Kaczynski         3.625       3.777778           3.111111

    Neuroticism  Openness
0         2.875       2.6
1         2.875       3.3
2         3.000       3.3
3         2.625       3.5
4         3.625       3.2
5         2.875       3.3
6         2.375       2.9
7         3.375       3.5
8         3.000       3.5
9         3.125       3.5
10        2.625       3.4
11        3.250       2.4
12        2.750       3.3
13        3.125       3.7
14        3.875       3.2
15        3.250       2.7
16        3.125       3.7
17        2.875       3.2
18        3.375       2.8
19        1.750       2.6
20        2.500       2.5
21        2.875       3.7

In [11]:
results_df.round()

Persona               object
Extraversion         float64
Agreeableness        float64
Conscientiousness    float64
Neuroticism          float64
Openness             float64
dtype: object

In [78]:
# Check the shape of the dataframe
print(df.shape)
print("§§§§§§§§§§§§§§§§§§§§§§§§§§§")
# Check if we have 22 unique personas
print(df['persona'].nunique())
print("§§§§§§§§§§§§§§§§§§§§§§§§§§§")
# Check if each persona has 44 items
print(df.groupby('persona')['Itemnum'].nunique().value_counts())
print("§§§§§§§§§§§§§§§§§§§§§§§§§§§")
# Check the range of itemnum
print(df['Itemnum'].min(), df['Itemnum'].max())
print("§§§§§§§§§§§§§§§§§§§§§§§§§§§")
# Check the range of answer values
print(df['answer'].min(), df['answer'].max())
print("§§§§§§§§§§§§§§§§§§§§§§§§§§§")
# Display a sample of the data
print(df.head(10))

(968, 5)
§§§§§§§§§§§§§§§§§§§§§§§§§§§
22
§§§§§§§§§§§§§§§§§§§§§§§§§§§
Itemnum
44    22
Name: count, dtype: int64
§§§§§§§§§§§§§§§§§§§§§§§§§§§
1 9
§§§§§§§§§§§§§§§§§§§§§§§§§§§
1 6
§§§§§§§§§§§§§§§§§§§§§§§§§§§
             persona                                    text likert_scale  \
1629  Saddam Hussein                            Is talkative       1 to 5
1630  Saddam Hussein         Tends to find fault with others       1 to 5
1631  Saddam Hussein                     Does a thorough job       1 to 5
1632  Saddam Hussein                      Is depressed, blue       1 to 5
1633  Saddam Hussein    Is original, comes up with new ideas       1 to 5
1634  Saddam Hussein                             Is reserved       1 to 5
1635  Saddam Hussein    Is helpful and unselfish with others       1 to 5
1636  Saddam Hussein                Can be somewhat careless       1 to 5
1637  Saddam Hussein         Is relaxed, handles stress well       1 to 5
1638  Saddam Hussein  Is curious about many different things       1 to 5

     Itemnum  answer
1629       1       5
1630       2       5
1631       3       3
1632       4       1
1633       5       4
1634       6       5
1635       7       1
1636       8       5
1637       9       2
1638      10       5

In [50]:
pd.set_option('display.max_rows', 500)

In [51]:


data = df3
# List of item numbers for each BFI trait and reverse scored items
extraversion_items = [1, 6, 11, 16, 21, 26, 31, 36]
agreeableness_items = [2, 7, 12, 17, 22, 27, 32, 37, 42]
conscientiousness_items = [3, 8, 13, 18, 23, 28, 33, 38, 43]
neuroticism_items = [4, 9, 14, 19, 24, 29, 34, 39]
openness_items = [5, 10, 15, 20, 25, 30, 35, 40, 41, 44]

reverse_scored_items = [6, 21, 31, 2, 12, 27, 37, 42, 8, 18, 23, 43, 9, 24, 34, 35, 41]

# Function to adjust for reverse scored items
def adjust_reverse_score(row):
    if row['Itemnum'] in reverse_scored_items:
        return 6 - row['answer']
        print("hit")
    else:
        return row['answer']


# Apply the reverse scoring adjustment
data['adjusted_score'] = data.apply(adjust_reverse_score, axis=1)
print(data[0:44])

             persona                                           text  \
1629  Saddam Hussein                                   Is talkative
1630  Saddam Hussein                Tends to find fault with others
1631  Saddam Hussein                            Does a thorough job
1632  Saddam Hussein                             Is depressed, blue
1633  Saddam Hussein           Is original, comes up with new ideas
1634  Saddam Hussein                                    Is reserved
1635  Saddam Hussein           Is helpful and unselfish with others
1636  Saddam Hussein                       Can be somewhat careless
1637  Saddam Hussein                Is relaxed, handles stress well
1638  Saddam Hussein         Is curious about many different things
1639  Saddam Hussein                              Is full of energy
1640  Saddam Hussein                    Starts quarrels with others
1641  Saddam Hussein                           Is a reliable worker
1642  Saddam Hussein                                   Can be tense
1643  Saddam Hussein                   Is ingenious, a deep thinker
1644  Saddam Hussein                  Generates a lot of enthusiasm
1645  Saddam Hussein                         Has a forgiving nature
1646  Saddam Hussein                       Tends to be disorganized
1647  Saddam Hussein                                  Worries a lot
1648  Saddam Hussein                      Has an active imagination
1649  Saddam Hussein                              Tends to be quiet
1650  Saddam Hussein                          Is generally trusting
1651  Saddam Hussein                               Tends to be lazy
1652  Saddam Hussein        Is emotionally stable, not easily upset
1653  Saddam Hussein                                   Is inventive
1654  Saddam Hussein                   Has an assertive personality
1655  Saddam Hussein                          Can be cold and aloof
1656  Saddam Hussein          Perseveres until the task is finished
1657  Saddam Hussein                                   Can be moody
1658  Saddam Hussein         Values artistic, aesthetic experiences
1659  Saddam Hussein                    Is sometimes shy, inhibited
1660  Saddam Hussein     Is considerate and kind to almost everyone
1661  Saddam Hussein                        Does things efficiently
1662  Saddam Hussein               Remains calm in tense situations
1663  Saddam Hussein                   Prefers work that is routine
1664  Saddam Hussein                          Is outgoing, sociable
1665  Saddam Hussein                    Is sometimes rude to others
1666  Saddam Hussein      Makes plans and follows through with them
1667  Saddam Hussein                            Gets nervous easily
1668  Saddam Hussein              Likes to reflect, play with ideas
1669  Saddam Hussein                     Has few artistic interests
1670  Saddam Hussein                 Likes to cooperate with others
1671  Saddam Hussein                           Is easily distracted
1672  Saddam Hussein  Is sophisticated in art, music, or Literature

     likert_scale Itemnum  answer  adjusted_score
1629       1 to 5       1       5               5
1630       1 to 5       2       5               5
1631       1 to 5       3       3               3
1632       1 to 5       4       1               1
1633       1 to 5       5       4               4
1634       1 to 5       6       5               5
1635       1 to 5       7       1               1
1636       1 to 5       8       5               5
1637       1 to 5       9       2               2
1638       1 to 5      10       5               5
1639       1 to 5      11       3               3
1640       1 to 5      12       1               1
1641       1 to 5      13       5               5
1642       1 to 5      14       3               3
1643       1 to 5      15       2               2
1644       1 to 5      16       4               4
1645       1 to 5      17       3               3
1646       1 to 5      18       5               5
1647       1 to 5      19       1               1
1648       1 to 5      20       5               5
1649       1 to 5      21       2               2
1650       1 to 5      22       3               3
1651       1 to 5      23       4               4
1652       1 to 5      24       3               3
1653       1 to 5      25       4               4
1654       1 to 5      26       3               3
1655       1 to 5      27       5               5
1656       1 to 5      28       5               5
1657       1 to 5      29       3               3
1658       1 to 5      30       1               1
1659       1 to 5      31       3               3
1660       1 to 5      32       5               5
1661       1 to 5      33       3               3
1662       1 to 5      34       1               1
1663       1 to 5      35       3               3
1664       1 to 5      36       3               3
1665       1 to 5      37       3               3
1666       1 to 5      38       5               5
1667       1 to 5      39       3               3
1668       1 to 5      40       2               2
1669       1 to 5      41       1               1
1670       1 to 5      42       5               5
1671       1 to 5      43       3               3
1672       1 to 5      44       1               1

C:\Users\PC\AppData\Local\Temp\ipykernel_10320\3711336549.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['adjusted_score'] = data.apply(adjust_reverse_score, axis=1)

In [62]:
(data['persona'][1])

KeyError: 1

In [63]:
type(data)

pandas.core.frame.DataFrame

In [36]:
# Creating a pivot table
pivot_table = data.pivot(index='persona', columns='Itemnum', values='adjusted_score')
print(pivot_table)

Itemnum               1  10  11  12  13  14  15  16  17  18  ...  40  41  42  \
persona                                                      ...
Adolf Hitler          4   4   5   5   3   3   3   1   3   2  ...   3   4   5
Al Capone             3   3   5   5   3   5   3   4   3   1  ...   5   3   2
Benito Mussolini      3   4   3   3   4   3   3   5   3   3  ...   4   1   3
Bonnie Parker         2   2   4   4   5   4   4   2   3   3  ...   3   5   3
Charles Manson        2   4   2   5   4   1   2   5   4   5  ...   5   4   5
Fidel Castro          4   1   1   3   5   3   3   3   3   4  ...   3   3   2
Harold Shipman        3   1   1   1   5   4   3   2   5   4  ...   3   3   1
Idi Amin              3   1   4   5   5   3   4   4   3   3  ...   3   3   1
Jeffrey Dahmer        1   5   4   4   5   4   5   2   3   5  ...   2   5   5
John Wayne Gacy       3   5   3   2   5   5   1   5   1   5  ...   5   5   4
Josef Stalin          5   3   1   3   4   3   4   3   1   3  ...   3   3   2
Kim Il Sung           2   3   4   2   4   4   2   3   1   1  ...   3   3   1
Mao Zedong            5   1   3   4   2   5   3   1   4   3  ...   5   4   3
Muammar Gaddafi       5   5   5   4   1   3   5   5   3   2  ...   1   4   2
Osama Bin Laden       3   5   3   3   5   4   3   3   5   4  ...   3   3   1
Pablo Escobar         1   3   3   1   5   2   4   5   5   5  ...   1   5   4
Pedro López           5   3   1   4   3   3   4   4   3   5  ...   5   4   3
Saddam Hussein        5   5   3   1   5   3   2   4   3   5  ...   2   1   5
Saloth "Pol Pot" Sar  1   3   4   4   5   2   2   4   1   3  ...   5   5   5
Suharto               1   3   2   5   3   3   4   4   5   3  ...   3   1   3
Ted Bundy             3   2   4   3   3   4   2   5   2   3  ...   5   5   5
Ted Kaczynski         5   3   4   1   5   4   3   3   3   1  ...   4   3   2

Itemnum               43  44  5  6  7  8  9
persona
Adolf Hitler           5   2  2  5  3  5  4
Al Capone              3   2  3  5  3  1  5
Benito Mussolini       3   3  3  5  5  3  1
Bonnie Parker          4   1  4  4  5  5  5
Charles Manson         5   4  1  5  5  1  3
Fidel Castro           2   2  5  5  2  4  3
Harold Shipman         1   3  1  4  5  5  5
Idi Amin               1   5  5  5  2  4  4
Jeffrey Dahmer         3   4  3  4  4  2  3
John Wayne Gacy        4   1  5  4  3  3  3
Josef Stalin           4   5  1  1  4  4  3
Kim Il Sung            1   3  2  1  1  1  4
Mao Zedong             4   4  4  3  4  3  4
Muammar Gaddafi        5   5  4  4  3  4  2
Osama Bin Laden        2   3  4  4  2  5  2
Pablo Escobar          5   3  3  5  4  3  3
Pedro López            4   3  5  3  3  1  3
Saddam Hussein         3   1  4  5  1  5  2
Saloth "Pol Pot" Sar   1   5  1  3  5  3  5
Suharto                3   3  1  3  1  1  5
Ted Bundy              5   1  3  4  3  5  5
Ted Kaczynski          5   5  3  2  5  3  5

[22 rows x 44 columns]

In [37]:

# Summing scores for each BFI trait
pivot_table['Extraversion'] = pivot_table[extraversion_items].sum(axis=1)
pivot_table['Agreeableness'] = pivot_table[agreeableness_items].sum(axis=1)
pivot_table['Conscientiousness'] = pivot_table[conscientiousness_items].sum(axis=1)
pivot_table['Neuroticism'] = pivot_table[neuroticism_items].sum(axis=1)
pivot_table['Openness'] = pivot_table[openness_items].sum(axis=1)

# Selecting only the BFI scores columns
bfi_scores = pivot_table[['Extraversion', 'Agreeableness', 'Conscientiousness', 'Neuroticism', 'Openness']].reset_index()

# Display the BFI scores
print(bfi_scores)

KeyError: "None of [Index([1, 6, 11, 16, 21, 26, 31, 36], dtype='int64', name='Itemnum')] are in the [columns]"

In [17]:
ques_per_person = df3.groupby('persona').size().sort_values(ascending=False)
ques_per_person

persona
Adolf Hitler            44
Al Capone               44
Benito Mussolini        44
Bonnie Parker           44
Charles Manson          44
Fidel Castro            44
Harold Shipman          44
Idi Amin                44
Jeffrey Dahmer          44
John Wayne Gacy         44
Josef Stalin            44
Kim Il Sung             44
Mao Zedong              44
Muammar Gaddafi         44
Osama Bin Laden         44
Pablo Escobar           44
Pedro López             44
Saddam Hussein          44
Saloth "Pol Pot" Sar    44
Suharto                 44
Ted Bundy               44
Ted Kaczynski           44
dtype: int64

In [17]:
ques_per_person = df2.groupby('persona').size().sort_values(ascending=False)

In [18]:
ques_per_person

persona
Ted Kaczynski           36
John Wayne Gacy         36
Idi Amin                35
Saloth "Pol Pot" Sar    34
Suharto                 33
Harold Shipman          32
Jeffrey Dahmer          32
Al Capone               31
Pablo Escobar           31
Josef Stalin            31
Charles Manson          31
Fidel Castro            30
Bonnie Parker           30
Adolf Hitler            30
Mao Zedong              30
Ted Bundy               28
Saddam Hussein          28
Kim Il Sung             28
Pedro López             27
Osama Bin Laden         26
Benito Mussolini        23
Muammar Gaddafi         22
dtype: int64

In [19]:
ques_dist = df2.groupby('text').size().sort_values(ascending=False)
ques_dist

text
Has an assertive personality                     19
Remains calm in tense situations                 19
Starts quarrels with others                      19
Has few artistic interests                       18
Is sophisticated in art, music, or Literature    18
Is easily distracted                             18
Values artistic, aesthetic experiences           18
Is considerate and kind to almost everyone       17
Is talkative                                     17
Is full of energy                                17
Can be tense                                     17
Does a thorough job                              17
Tends to find fault with others                  16
Makes plans and follows through with them        16
Tends to be disorganized                         16
Is depressed, blue                               16
Is ingenious, a deep thinker                     16
Is reserved                                      16
Is helpful and unselfish with others             16
Generates a lot of enthusiasm                    16
Is relaxed, handles stress well                  15
Is sometimes rude to others                      15
Has an active imagination                        15
Is inventive                                     15
Gets nervous easily                              15
Can be moody                                     15
Can be somewhat careless                         14
Has a forgiving nature                           14
Is curious about many different things           14
Is original, comes up with new ideas             14
Likes to reflect, play with ideas                14
Worries a lot                                    13
Tends to be quiet                                13
Tends to be lazy                                 13
Is outgoing, sociable                            13
Is emotionally stable, not easily upset          13
Likes to cooperate with others                   13
Prefers work that is routine                     13
Does things efficiently                          12
Can be cold and aloof                            12
Perseveres until the task is finished            12
Is a reliable worker                             12
Is sometimes shy, inhibited                      12
Is generally trusting                            11
dtype: int64