In [6]:
import numpy as np 
import pandas as pd 
import os
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from collections import Counter
import re
from scipy.stats import mode

In [2]:
df1=pd.read_csv('./F11B_res/results_sd3_badp1.csv')
df2=pd.read_csv('./F11B_res/results_sd3_badp2.csv')

In [3]:
df_m1_listb=[df1,df1]
df_comb = pd.concat(df_m1_listb, ignore_index=True)

In [9]:
df_comb.dtypes

Name        object
source      object
Item        object
Itemnum      int64
Answer     float64
dtype: object

In [10]:
df_comb['Answer']=df_comb['Answer'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [11]:
df_comb

,Name,source,Item,Itemnum,Answer
0,Osama bin Laden,Terrorist,It's not wise to tell your secrets,1,1.0
1,Osama bin Laden,Terrorist,I like to use clever manipulation to get my way,2,1.0
2,Osama bin Laden,Terrorist,"Whatever it takes, you must get the important ...",3,5.0
3,Osama bin Laden,Terrorist,Avoid direct conflict with others because they...,4,4.0
4,Osama bin Laden,Terrorist,It's wise to keep track of information that yo...,5,4.0
...,...,...,...,...,...
144823,Manuel Noriega,Dictator,It's true that I can be mean to others,23,1.0
144824,Manuel Noriega,Dictator,People who mess with me always regret it,24,1.0
144825,Manuel Noriega,Dictator,I have never gotten into trouble with the law,25,1.0
144826,Manuel Noriega,Dictator,I enjoy having sex with people I hardly know,26,1.0
144827,Manuel Noriega,Dictator,I'll say anything to get what I want,27,5.0

In [ ]:
result = df_comb.groupby(['Name', 'Itemnum', 'source'])['Answer'].agg(
    mean='mean',
    std='std',
    mode=lambda x: mode(x) # Extract the first mode value
).reset_index()

In [13]:
result

,Name,Itemnum,source,mean,std,mode
0,2 Pistols,1,Druglord,2.333333,1.302678,2.0
1,2 Pistols,2,Druglord,2.000000,1.206045,1.0
2,2 Pistols,3,Druglord,3.000000,1.595448,1.0
3,2 Pistols,4,Druglord,1.666667,1.154701,1.0
4,2 Pistols,5,Druglord,2.500000,1.566699,1.0
...,...,...,...,...,...,...
12064,Ángel Maturino Reséndiz,23,SerialKiller,1.500000,1.167748,1.0
12065,Ángel Maturino Reséndiz,24,SerialKiller,1.666667,0.778499,1.0
12066,Ángel Maturino Reséndiz,25,SerialKiller,2.500000,1.678744,1.0
12067,Ángel Maturino Reséndiz,26,SerialKiller,2.666667,1.556998,1.0
12068,Ángel Maturino Reséndiz,27,SerialKiller,2.166667,1.749459,1.0

In [14]:
result2 = df_comb.groupby(['Name', 'Itemnum', 'source'])['Answer'].agg(
    mean='mean',
    std='std',
    mode=lambda x: mode(x) # Extract the first mode value
).reset_index()

In [15]:
result2

,Name,Itemnum,source,mean,std,mode
0,2 Pistols,1,Druglord,2.333333,1.302678,"(2.0, 8)"
1,2 Pistols,2,Druglord,2.000000,1.206045,"(1.0, 6)"
2,2 Pistols,3,Druglord,3.000000,1.595448,"(1.0, 4)"
3,2 Pistols,4,Druglord,1.666667,1.154701,"(1.0, 8)"
4,2 Pistols,5,Druglord,2.500000,1.566699,"(1.0, 4)"
...,...,...,...,...,...,...
12064,Ángel Maturino Reséndiz,23,SerialKiller,1.500000,1.167748,"(1.0, 10)"
12065,Ángel Maturino Reséndiz,24,SerialKiller,1.666667,0.778499,"(1.0, 6)"
12066,Ángel Maturino Reséndiz,25,SerialKiller,2.500000,1.678744,"(1.0, 6)"
12067,Ángel Maturino Reséndiz,26,SerialKiller,2.666667,1.556998,"(1.0, 4)"
12068,Ángel Maturino Reséndiz,27,SerialKiller,2.166667,1.749459,"(1.0, 8)"

In [ ]:
seg_sd3=11529

In [6]:
import pandas as pd

# Assuming df1 is your dataframe
segment_size = 12069
num_segments = 6

# Create a list to hold the segmented dataframes
segments = [df1.iloc[i * segment_size: (i + 1) * segment_size] for i in range(num_segments)]

# If you want to name them explicitly as df1, df2, etc.:
df1_part, df2_part, df3_part, df4_part, df5_part, df6_part = segments

In [12]:
df6_part.head

<bound method NDFrame.head of                   Name     source  \
60345  Osama bin Laden  Terrorist
60346  Osama bin Laden  Terrorist
60347  Osama bin Laden  Terrorist
60348  Osama bin Laden  Terrorist
60349  Osama bin Laden  Terrorist
...                ...        ...
72409   Manuel Noriega   Dictator
72410   Manuel Noriega   Dictator
72411   Manuel Noriega   Dictator
72412   Manuel Noriega   Dictator
72413   Manuel Noriega   Dictator

                                                    Item  Itemnum  Answer
60345                 It's not wise to tell your secrets        1     1.0
60346    I like to use clever manipulation to get my way        2     1.0
60347  Whatever it takes, you must get the important ...        3     1.0
60348  Avoid direct conflict with others because they...        4     5.0
60349  It's wise to keep track of information that yo...        5     2.0
...                                                  ...      ...     ...
72409             It's true that I can be mean to others       23     1.0
72410           People who mess with me always regret it       24     1.0
72411      I have never gotten into trouble with the law       25     1.0
72412       I enjoy having sex with people I hardly know       26     1.0
72413               I'll say anything to get what I want       27     5.0

[12069 rows x 5 columns]>