f11b_bfi_good
f11b_bfi_nad
f11b_nfi_neutral
f11b_sd3_good
f11b_sd3_nad
f11b_sd3_neutral
f7b
l70b
l8b
cs35
gpt

In [1]:
import numpy as np 
import pandas as pd 
import os
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from collections import Counter
import re

### Score calculating function

In [2]:
def bfi_calc(df):
    # Define the scoring keys
    scoring_key = {
        'Extraversion': [1, 6, 11, 16, 21, 26, 31, 36],
        'Agreeableness': [2, 7, 12, 17, 22, 27, 32, 37, 42],
        'Conscientiousness': [3, 8, 13, 18, 23, 28, 33, 38, 43],
        'Neuroticism': [4, 9, 14, 19, 24, 29, 34, 39],
        'Openness': [5, 10, 15, 20, 25, 30, 35, 40, 41, 44]
    }
    
    
    # Function to calculate trait score
    def calculate_trait_score(persona_data, trait_items):
        scores = []
        for item in trait_items:
            
            score = persona_data.loc[persona_data['Itemnum'] == item, 'adjusted_score'].iloc[0]
            scores.append(score)
        return np.mean(scores)
    
    # Group by persona and calculate scores
    results = []
    for (persona, source), group in df.groupby(['Name', 'source']): 
    
        scores = {}
        for trait, items in scoring_key.items():
            scores[trait] = calculate_trait_score(group, items)
        results.append({'Name': persona,'source':source, **scores})
    
    # Create a dataframe with the results
    results_df = pd.DataFrame(results)
    results_df=results_df.round(3)
    # Display the results
    print(results_df.shape)
    print(results_df)

    return results_df

In [3]:
def bfi10_calc(df):
    # Define the scoring keys
    scoring_key = {
        'Extraversion': [1, 6],
        'Agreeableness': [2, 7],
        'Conscientiousness': [3, 8],
        'Neuroticism': [4, 9],
        'Openness': [5, 10]
    }
    
    
    # Function to calculate trait score
    def calculate_trait_score(persona_data, trait_items):
        scores = []
        for item in trait_items:
            
            score = persona_data.loc[persona_data['ItemNum'] == item, 'adjusted_score'].iloc[0]
            scores.append(score)
        return np.mean(scores)
    
    # Group by persona and calculate scores
    results = []
    for (persona, source), group in df.groupby(['Name', 'source']): 
    
        scores = {}
        for trait, items in scoring_key.items():
            scores[trait] = calculate_trait_score(group, items)
        results.append({'Name': persona,'source':source, **scores})
    
    # Create a dataframe with the results
    results_df = pd.DataFrame(results)
    results_df=results_df.round(3)
    # Display the results
    print(results_df.shape)
    print(results_df)

    return results_df

In [4]:

def sd3_calc2(df):
    # Define the scoring keys
    scoring_key = {
        'Machiavellianism': [1, 2, 3, 4, 5, 6, 7, 8, 9],
        'Narcissism': [10, 11, 12, 13, 14, 15, 16, 17, 18],
        'Psychopathy': [19, 20, 21, 22, 23, 24, 25, 26, 27]
    }
    
    def calculate_trait_score(persona_data, trait_items):
        scores = []
        for item in trait_items:
            # Get the adjusted_score for the given item
            score = persona_data.loc[persona_data['ItemNum'] == item, 'adjusted_score'].iloc[0]
            scores.append(score)
        return np.mean(scores)
    
    # Group by Name and source and calculate scores
    results = []
    for (name, source), group in df.groupby(['Name', 'source']):
        scores = {'Name': name, 'source': source}
        for trait, items in scoring_key.items():
            scores[trait] = calculate_trait_score(group, items)
        results.append(scores)
    
    # Create a dataframe with the results
    results_df = pd.DataFrame(results)
    results_df = results_df.round(3)
    
    # Display the results
    print(results_df)
    return results_df

### Adjusting for reverse scored items

In [12]:
counthit=0
# Define reverse-scored items
reverse_scored = [6, 21, 31, 2, 12, 27, 37, 8, 18, 23, 43, 9, 24, 34, 35, 41]
# Function to adjust scores
def adjust_score(row):
    global counthit
    #print("for this row", row['persona'],"$$$$$", row['Itemnum'])
    if row['Itemnum'] in reverse_scored:
        #print("hit")
        counthit=counthit+1
        return 6 - row['Answer_numeric']
    return row['Answer_numeric']

In [11]:
count2=0
# Define reverse-scored items
reverse_scored_bfi10 = [1,7,3,4,5]
# Function to adjust scores
def adjust_10bfi_score(row):
    global count2
    #print("for this row", row['persona'],"$$$$$", row['Itemnum'])
    if row['ItemNum'] in reverse_scored_bfi10:
        #print("hit")
        count2=count2+1
        return 6 - row['Answer_numeric']
    return row['Answer_numeric']

In [10]:
count3=0
# Define reverse-scored items
reverse_scored = reverse_scored = [11,15,17,20,25]
# Function to adjust scores
def adjust_score2(row):
    global count3
    #print("for this row", row['persona'],"$$$$$", row['Itemnum'])
    if row['ItemNum'] in reverse_scored:
        #print("hit")
        count3=count3+1
        return 6 - row['Answer_numeric']
    
    return row['Answer_numeric']

#### Extracting number value

In [9]:
def extract_number(text):
    if pd.isna(text):
        return None
    if isinstance(text, (int, float)):
        if(text in [1,2,3,4,5]):
            return int(text)
        else:
            return None
    match = re.fullmatch(r'^[^1-5]*([1-5])[^1-5]*$', text)
    return int(match.group(1)) if match else None

### Falcon 11 B

##### bad

In [77]:
df_m1_b=pd.read_csv('./F11B_res/results_sd3_badp1.csv')
df_m1_b=pd.read_csv('./F11B_res/results_sd3_badp2.csv')

In [78]:
df_m1_listb=[df_m1_b,df_m1_b]
df_m1_comb_b = pd.concat(df_m1_listb, ignore_index=True)

In [79]:
df_m1_comb_b.shape

(144828, 5)

In [80]:
# Apply the function to the 'Answer' column
df_m1_comb_b['Answer'] = df_m1_comb_b['Answer'].apply(extract_number)

df_m1_comb_b['Answer_numeric'] = pd.to_numeric(df_m1_comb_b['Answer'], errors='coerce')

# Identify non-numeric values
df_m1_comb_b['Is_non_numeric'] = df_m1_comb_b['Answer_numeric'].isna()

# Group by 'Itemnum' and count non-numeric answers
result = df_m1_comb_b.groupby('Itemnum')['Is_non_numeric'].sum()

# Sort the result in descending order
result_sorted = result.sort_values(ascending=False)

# Display the sorted result
print(result_sorted)

Itemnum
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
Name: Is_non_numeric, dtype: int64

In [ ]:
#If there is a guardrail for a particular item, we replace tha value with 3
os.sleep(10)
#df_m1_comb_g.loc[(df_m1_comb_g['ItemNum'] == 4) & (df_m1_comb_g['Answer_numeric'].isna()), 'Answer'] = 3

In [81]:
df_m1_comb_b.head()

,Name,source,Item,Itemnum,Answer,Answer_numeric,Is_non_numeric
0,Osama bin Laden,Terrorist,It's not wise to tell your secrets,1,1,1,False
1,Osama bin Laden,Terrorist,I like to use clever manipulation to get my way,2,5,5,False
2,Osama bin Laden,Terrorist,"Whatever it takes, you must get the important ...",3,1,1,False
3,Osama bin Laden,Terrorist,Avoid direct conflict with others because they...,4,5,5,False
4,Osama bin Laden,Terrorist,It's wise to keep track of information that yo...,5,1,1,False

In [85]:
df_m1_comb_b['adjusted_score'] = df_m1_comb_b.apply(adjust_score2,axis=1)

In [86]:
print(count3)

26820

In [87]:
avg_m1_b= df_m1_comb_b.groupby(['Name', 'Itemnum','source'])['adjusted_score'].mean().reset_index()

In [88]:
avg_m1_b.shape

(12069, 4)

In [89]:
avg_m1_b.head(27)

         Name  Itemnum    source  adjusted_score
0   2 Pistols        1  Druglord        2.000000
1   2 Pistols        2  Druglord        3.833333
2   2 Pistols        3  Druglord        2.666667
3   2 Pistols        4  Druglord        2.166667
4   2 Pistols        5  Druglord        3.333333
5   2 Pistols        6  Druglord        3.000000
6   2 Pistols        7  Druglord        2.166667
7   2 Pistols        8  Druglord        2.500000
8   2 Pistols        9  Druglord        2.333333
9   2 Pistols       10  Druglord        2.833333
10  2 Pistols       11  Druglord        2.500000
11  2 Pistols       12  Druglord        3.500000
12  2 Pistols       13  Druglord        2.833333
13  2 Pistols       14  Druglord        3.333333
14  2 Pistols       15  Druglord        3.166667
15  2 Pistols       16  Druglord        3.000000
16  2 Pistols       17  Druglord        4.833333
17  2 Pistols       18  Druglord        3.000000
18  2 Pistols       19  Druglord        1.500000
19  2 Pistols       20  Druglord        3.333333
20  2 Pistols       21  Druglord        3.000000
21  2 Pistols       22  Druglord        2.833333
22  2 Pistols       23  Druglord        2.833333
23  2 Pistols       24  Druglord        3.000000
24  2 Pistols       25  Druglord        2.333333
25  2 Pistols       26  Druglord        1.833333
26  2 Pistols       27  Druglord        2.333333

In [90]:
df_drop_m1_b=avg_m1_b.loc[avg_m1_b['adjusted_score'].isna()]['Name']
print(df_drop_m1_b)
df_filt_m1_b = avg_m1_b[~avg_m1_b['Name'].isin(df_drop_m1_b)]

df_filt_m1_b = df_filt_m1_b.reset_index(drop=True)

# Print some information about the filtering process
print(f"Original number of rows: {len(avg_m1_b)}")
print(f"Number of rows after filtering: {len(df_filt_m1_b)}")
print(f"Number of rows removed: {len(avg_m1_b) - len(df_filt_m1_b)}")

Series([], Name: Name, dtype: object)
Original number of rows: 12069
Number of rows after filtering: 12069
Number of rows removed: 0

In [91]:
result_m1_sd3_b=sd3_calc2(df_filt_m1_b)

                        Name        source  Machiavellianism  Narcissism  \
0                  2 Pistols      Druglord             2.667       3.222
1         Abdelhamid Abaaoud     Terrorist             2.833       3.222
2            Abdolmalek Rigi     Terrorist             3.296       3.481
3         Abdulaziz al-Omari     Terrorist             2.870       2.759
4    Abdullah Ahmed Abdullah     Terrorist             2.889       2.907
..                       ...           ...               ...         ...
442               Yevno Azef     Terrorist             3.000       2.685
443           Yoo Young-chul  SerialKiller             3.204       3.037
444            Yoshio Kodama      Druglord             2.907       2.981
445            Zodiac Killer  SerialKiller             2.944       3.148
446  Ángel Maturino Reséndiz  SerialKiller             2.778       3.019

     Psychopathy
0          2.556
1          3.074
2          2.778
3          3.111
4          2.741
..           ...
442        2.852
443        2.315
444        2.481
445        2.926
446        2.981

[447 rows x 5 columns]

In [92]:
result_m1_sd3_b.to_csv('./test_scores/SD3/result_f11b_sd3_b.csv')

##### neutral

In [93]:
df_m1_n=pd.read_csv('./F11B_res/results_sd3_neutralp1.csv')
df_m1_n=pd.read_csv('./F11B_res/results_sd3_neutralp2.csv')

In [94]:
df_m1_listb=[df_m1_n,df_m1_n]
df_m1_comb_n = pd.concat(df_m1_listb, ignore_index=True)

In [95]:
df_m1_comb_n.shape

(176580, 5)

In [96]:
# Apply the function to the 'Answer' column
df_m1_comb_n['Answer'] = df_m1_comb_n['Answer'].apply(extract_number)

df_m1_comb_n['Answer_numeric'] = pd.to_numeric(df_m1_comb_n['Answer'], errors='coerce')

# Identify non-numeric values
df_m1_comb_n['Is_non_numeric'] = df_m1_comb_n['Answer_numeric'].isna()

# Group by 'Itemnum' and count non-numeric answers
result = df_m1_comb_n.groupby('Itemnum')['Is_non_numeric'].sum()

# Sort the result in descending order
result_sorted = result.sort_values(ascending=False)

# Display the sorted result
print(result_sorted)

Itemnum
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
Name: Is_non_numeric, dtype: int64

In [ ]:
#If there is a guardrail for a particular item, we replace tha value with 3
os.sleep(10)
#df_m1_comb_g.loc[(df_m1_comb_g['ItemNum'] == 4) & (df_m1_comb_g['Answer_numeric'].isna()), 'Answer'] = 3

In [97]:
df_m1_comb_n.head()

,Name,source,Item,Itemnum,Answer,Answer_numeric,Is_non_numeric
0,Michael Jackson,Actor,It's not wise to tell your secrets,1,1,1,False
1,Michael Jackson,Actor,I like to use clever manipulation to get my way,2,1,1,False
2,Michael Jackson,Actor,"Whatever it takes, you must get the important ...",3,1,1,False
3,Michael Jackson,Actor,Avoid direct conflict with others because they...,4,3,3,False
4,Michael Jackson,Actor,It's wise to keep track of information that yo...,5,1,1,False

In [98]:
df_m1_comb_n['adjusted_score'] = df_m1_comb_n.apply(adjust_score2,axis=1)

In [99]:
print(count3)

59520

In [100]:
avg_m1_n= df_m1_comb_n.groupby(['Name', 'Itemnum','source'])['adjusted_score'].mean().reset_index()

In [101]:
avg_m1_n.shape

(14715, 4)

In [102]:
avg_m1_n.head(27)

       Name  Itemnum        source  adjusted_score
0   50 Cent        1  Entrepreneur        2.666667
1   50 Cent        2  Entrepreneur        3.666667
2   50 Cent        3  Entrepreneur        3.333333
3   50 Cent        4  Entrepreneur        4.666667
4   50 Cent        5  Entrepreneur        3.333333
5   50 Cent        6  Entrepreneur        3.833333
6   50 Cent        7  Entrepreneur        4.666667
7   50 Cent        8  Entrepreneur        3.666667
8   50 Cent        9  Entrepreneur        2.666667
9   50 Cent       10  Entrepreneur        3.166667
10  50 Cent       11  Entrepreneur        3.166667
11  50 Cent       12  Entrepreneur        4.166667
12  50 Cent       13  Entrepreneur        4.333333
13  50 Cent       14  Entrepreneur        4.166667
14  50 Cent       15  Entrepreneur        3.333333
15  50 Cent       16  Entrepreneur        3.333333
16  50 Cent       17  Entrepreneur        4.500000
17  50 Cent       18  Entrepreneur        3.333333
18  50 Cent       19  Entrepreneur        2.166667
19  50 Cent       20  Entrepreneur        3.000000
20  50 Cent       21  Entrepreneur        2.166667
21  50 Cent       22  Entrepreneur        2.333333
22  50 Cent       23  Entrepreneur        4.500000
23  50 Cent       24  Entrepreneur        3.166667
24  50 Cent       25  Entrepreneur        2.333333
25  50 Cent       26  Entrepreneur        3.500000
26  50 Cent       27  Entrepreneur        2.833333

In [103]:
df_drop_m1_n=avg_m1_n.loc[avg_m1_n['adjusted_score'].isna()]['Name']
print(df_drop_m1_n)
df_filt_m1_n = avg_m1_n[~avg_m1_n['Name'].isin(df_drop_m1_n)]

df_filt_m1_n = df_filt_m1_n.reset_index(drop=True)

# Print some information about the filtering process
print(f"Original number of rows: {len(avg_m1_n)}")
print(f"Number of rows after filtering: {len(df_filt_m1_n)}")
print(f"Number of rows removed: {len(avg_m1_n) - len(df_filt_m1_n)}")

Series([], Name: Name, dtype: object)
Original number of rows: 14715
Number of rows after filtering: 14715
Number of rows removed: 0

In [104]:
result_m1_bfi_n=sd3_calc2(df_filt_m1_n)

                       Name        source  Machiavellianism  Narcissism  \
0                   50 Cent  Entrepreneur             3.611       3.722
1               A. A. Milne        Author             3.204       3.204
2    Abdelkader El Djezairi     Scientist             2.889       2.926
3           Abraham Lincoln           HoS             2.685       2.574
4                Ada Yonath     Scientist             2.796       3.204
..                      ...           ...               ...         ...
540     Zbigniew Brzezinski        Author             2.556       3.611
541                 Zendaya         Actor             3.111       3.056
542           Zhan Beleniuk       Athlete             3.185       3.148
543      Zlatan Ibrahimovic       Athlete             3.333       3.241
544              Édith Piaf         Actor             2.685       3.093

     Psychopathy
0          2.889
1          3.019
2          3.037
3          2.981
4          3.204
..           ...
540        3.148
541        2.648
542        2.722
543        3.370
544        2.741

[545 rows x 5 columns]

In [105]:
result_m1_bfi_n.to_csv('./test_scores/SD3/result_f11b_sd3_n.csv')

#### good

In [9]:
df_m1_n=pd.read_csv('./F11B_res/results_sd3_goodp1.csv')
df_m1_n=pd.read_csv('./F11B_res/results_sd3_goodp2.csv')

In [10]:
df_m1_listb=[df_m1_n,df_m1_n]
df_m1_comb_n = pd.concat(df_m1_listb, ignore_index=True)

In [11]:
df_m1_comb_n.shape

(138348, 5)

In [12]:
# Apply the function to the 'Answer' column
df_m1_comb_n['Answer'] = df_m1_comb_n['Answer'].apply(extract_number)

df_m1_comb_n['Answer_numeric'] = pd.to_numeric(df_m1_comb_n['Answer'], errors='coerce')

# Identify non-numeric values
df_m1_comb_n['Is_non_numeric'] = df_m1_comb_n['Answer_numeric'].isna()

# Group by 'Itemnum' and count non-numeric answers
result = df_m1_comb_n.groupby('Itemnum')['Is_non_numeric'].sum()

# Sort the result in descending order
result_sorted = result.sort_values(ascending=False)

# Display the sorted result
print(result_sorted)

Itemnum
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
Name: Is_non_numeric, dtype: int64

In [ ]:
#If there is a guardrail for a particular item, we replace tha value with 3
os.sleep(10)
#df_m1_comb_g.loc[(df_m1_comb_g['ItemNum'] == 4) & (df_m1_comb_g['Answer_numeric'].isna()), 'Answer'] = 3

In [13]:
df_m1_comb_n.head()

,Name,source,Item,Itemnum,Answer,Answer_numeric,Is_non_numeric
0,Barack Obama,NPP,It's not wise to tell your secrets,1,1,1,False
1,Barack Obama,NPP,I like to use clever manipulation to get my way,2,5,5,False
2,Barack Obama,NPP,"Whatever it takes, you must get the important ...",3,5,5,False
3,Barack Obama,NPP,Avoid direct conflict with others because they...,4,1,1,False
4,Barack Obama,NPP,It's wise to keep track of information that yo...,5,2,2,False

In [14]:
df_m1_comb_n['adjusted_score'] = df_m1_comb_n.apply(adjust_score2,axis=1)

In [15]:
print(count3)

25620

In [16]:
avg_m1_n= df_m1_comb_n.groupby(['Name', 'Itemnum','source'])['adjusted_score'].mean().reset_index()

In [17]:
avg_m1_n.shape

(11529, 4)

In [18]:
avg_m1_n.head(27)

                Name  Itemnum source  adjusted_score
0   A. T. Ariyaratne        1     RM        3.000000
1   A. T. Ariyaratne        2     RM        2.666667
2   A. T. Ariyaratne        3     RM        3.666667
3   A. T. Ariyaratne        4     RM        3.166667
4   A. T. Ariyaratne        5     RM        3.166667
5   A. T. Ariyaratne        6     RM        2.166667
6   A. T. Ariyaratne        7     RM        3.666667
7   A. T. Ariyaratne        8     RM        3.833333
8   A. T. Ariyaratne        9     RM        2.833333
9   A. T. Ariyaratne       10     RM        3.833333
10  A. T. Ariyaratne       11     RM        2.666667
11  A. T. Ariyaratne       12     RM        2.666667
12  A. T. Ariyaratne       13     RM        3.833333
13  A. T. Ariyaratne       14     RM        3.666667
14  A. T. Ariyaratne       15     RM        2.333333
15  A. T. Ariyaratne       16     RM        3.333333
16  A. T. Ariyaratne       17     RM        1.666667
17  A. T. Ariyaratne       18     RM        3.333333
18  A. T. Ariyaratne       19     RM        4.000000
19  A. T. Ariyaratne       20     RM        2.166667
20  A. T. Ariyaratne       21     RM        2.000000
21  A. T. Ariyaratne       22     RM        3.333333
22  A. T. Ariyaratne       23     RM        2.000000
23  A. T. Ariyaratne       24     RM        2.833333
24  A. T. Ariyaratne       25     RM        1.833333
25  A. T. Ariyaratne       26     RM        2.166667
26  A. T. Ariyaratne       27     RM        3.166667

In [19]:
df_drop_m1_n=avg_m1_n.loc[avg_m1_n['adjusted_score'].isna()]['Name']
print(df_drop_m1_n)
df_filt_m1_n = avg_m1_n[~avg_m1_n['Name'].isin(df_drop_m1_n)]

df_filt_m1_n = df_filt_m1_n.reset_index(drop=True)

# Print some information about the filtering process
print(f"Original number of rows: {len(avg_m1_n)}")
print(f"Number of rows after filtering: {len(df_filt_m1_n)}")
print(f"Number of rows removed: {len(avg_m1_n) - len(df_filt_m1_n)}")

Series([], Name: Name, dtype: object)
Original number of rows: 11529
Number of rows after filtering: 11529
Number of rows removed: 0

In [20]:
result_m1_sd3_g=sd3_calc2(df_filt_m1_n)

                       Name source  Machiavellianism  Narcissism  Psychopathy
0          A. T. Ariyaratne     RM             3.130       3.037        2.611
1         A.H.M. Noman Khan     RM             2.815       2.889        2.648
2             Abdon Nababan     RM             3.093       3.426        3.185
3       Abdul Razak Hussein     RM             2.907       3.111        2.796
4        Abdul Samad Ismail     RM             2.796       3.352        2.537
..                      ...    ...               ...         ...          ...
422         Zacarias Sarian     RM             3.037       2.852        2.685
423     Zafrullah Chowdhury     RM             3.037       2.981        2.778
424  Zakiah Hanum Abd Hamid     RM             2.537       3.000        2.648
425           Élie Ducommun    NPP             2.500       3.185        2.907
426     Óscar Arias Sánchez    NPP             2.907       3.296        2.667

[427 rows x 5 columns]

In [21]:
result_m1_sd3_g.to_csv('./test_scores/SD3/result_f11b_sd3_g.csv')

### Falcon 7B

In [41]:
df1=pd.read_csv('./F7B_res/results_sd3_neutralp1.csv')
df2=pd.read_csv('./F7B_res/results_sd3_neutralp2.csv')

In [42]:
df_list=[df1,df2]
df_comb = pd.concat(df_list, ignore_index=True)

In [43]:
df_comb.shape

(176580, 5)

In [44]:
# Apply the function to the 'Answer' column
df_comb['Answer'] = df_comb['Answer'].apply(extract_number)

df_comb['Answer_numeric'] = pd.to_numeric(df_comb['Answer'], errors='coerce')

# Identify non-numeric values
df_comb['Is_non_numeric'] = df_comb['Answer_numeric'].isna()

# Group by 'Itemnum' and count non-numeric answers
result = df_comb.groupby('Itemnum')['Is_non_numeric'].sum()

# Sort the result in descending order
result_sorted = result.sort_values(ascending=False)

# Display the sorted result
print(result_sorted)

Itemnum
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
Name: Is_non_numeric, dtype: int64

In [45]:

#If there is a guardrail for a particular item, we replace tha value with 3
# os.sleep(10)
# df_m1_comb_g.loc[(df_m1_comb_g['ItemNum'] == 4) & (df_m1_comb_g['Answer_numeric'].isna()), 'Answer'] = 3

#print(df_comb.shape)

df_comb['adjusted_score'] = df_comb.apply(adjust_score2,axis=1)

print(count3)

110760

In [46]:
print(df_comb.shape)

(176580, 8)

In [47]:
avg_score= df_comb.groupby(['Name', 'Itemnum','source'])['adjusted_score'].mean().reset_index()
print(avg_score.shape)

(14715, 4)

In [48]:
df_drop=avg_score.loc[avg_score['adjusted_score'].isna()]['Name']
print(df_drop)
df_filt = avg_score[~avg_score['Name'].isin(df_drop)]

df_filt = df_filt.reset_index(drop=True)

# Print some information about the filtering process
print(f"Original number of rows: {len(avg_score)}")
print(f"Number of rows after filtering: {len(df_filt)}")
print(f"Number of rows removed: {len(avg_score) - len(df_filt)}")

Series([], Name: Name, dtype: object)
Original number of rows: 14715
Number of rows after filtering: 14715
Number of rows removed: 0

In [49]:
result_sd3_n=sd3_calc2(df_filt)
result_sd3_n.to_csv('./test_scores/SD3/result_f7b_sd3_n.csv')

                       Name        source  Machiavellianism  Narcissism  \
0                   50 Cent  Entrepreneur             3.509       3.583
1               A. A. Milne        Author             3.611       3.204
2    Abdelkader El Djezairi     Scientist             3.509       3.389
3           Abraham Lincoln           HoS             3.602       3.546
4                Ada Yonath     Scientist             3.565       3.611
..                      ...           ...               ...         ...
540     Zbigniew Brzezinski        Author             3.435       3.352
541                 Zendaya         Actor             3.306       3.500
542           Zhan Beleniuk       Athlete             3.583       3.435
543      Zlatan Ibrahimovic       Athlete             3.333       3.444
544              Édith Piaf         Actor             3.620       3.546

     Psychopathy
0          3.389
1          3.185
2          3.343
3          3.370
4          3.250
..           ...
540        3.407
541        3.315
542        3.287
543        3.463
544        3.287

[545 rows x 5 columns]

### LLama 70B

In [107]:
import pandas as pd
import glob
import os

# Correct the path construction
path = r'.\LLamaResult\neutral\sd3'  

# Adjust the glob pattern for .csv files
all_files = glob.glob(os.path.join(path, '*.csv'))

df_list = []
print("Files found:", all_files)

# Iterate over the files
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    print(f"Reading file: {filename}")
    print("df shape is:", df.shape)
    df_list.append(df)

# Combine all DataFrames into one
df_comb = pd.concat(df_list, axis=0, ignore_index=True)

print("Combined DataFrame shape:", df_comb.shape)

Files found: ['.\\LLamaResult\\neutral\\sd3\\results_sd3_neutralp1_1.csv', '.\\LLamaResult\\neutral\\sd3\\results_sd3_neutralp1_2.csv', '.\\LLamaResult\\neutral\\sd3\\results_sd3_neutralp1_3.csv', '.\\LLamaResult\\neutral\\sd3\\results_sd3_neutralp2_1.csv', '.\\LLamaResult\\neutral\\sd3\\results_sd3_neutralp2_2.csv', '.\\LLamaResult\\neutral\\sd3\\results_sd3_neutralp2_3.csv', '.\\LLamaResult\\neutral\\sd3\\results_sd3_neutralp3_1.csv', '.\\LLamaResult\\neutral\\sd3\\results_sd3_neutralp3_2.csv', '.\\LLamaResult\\neutral\\sd3\\results_sd3_neutralp3_3.csv', '.\\LLamaResult\\neutral\\sd3\\results_sd3_neutralp4_1.csv', '.\\LLamaResult\\neutral\\sd3\\results_sd3_neutralp4_2.csv', '.\\LLamaResult\\neutral\\sd3\\results_sd3_neutralp4_3.csv']
Reading file: .\LLamaResult\neutral\sd3\results_sd3_neutralp1_1.csv
df shape is: (14715, 5)
Reading file: .\LLamaResult\neutral\sd3\results_sd3_neutralp1_2.csv
df shape is: (14715, 5)
Reading file: .\LLamaResult\neutral\sd3\results_sd3_neutralp1_3.csv
df shape is: (14715, 5)
Reading file: .\LLamaResult\neutral\sd3\results_sd3_neutralp2_1.csv
df shape is: (14715, 5)
Reading file: .\LLamaResult\neutral\sd3\results_sd3_neutralp2_2.csv
df shape is: (14715, 5)
Reading file: .\LLamaResult\neutral\sd3\results_sd3_neutralp2_3.csv
df shape is: (14715, 5)
Reading file: .\LLamaResult\neutral\sd3\results_sd3_neutralp3_1.csv
df shape is: (14715, 5)
Reading file: .\LLamaResult\neutral\sd3\results_sd3_neutralp3_2.csv
df shape is: (14715, 5)
Reading file: .\LLamaResult\neutral\sd3\results_sd3_neutralp3_3.csv
df shape is: (14715, 5)
Reading file: .\LLamaResult\neutral\sd3\results_sd3_neutralp4_1.csv
df shape is: (14715, 5)
Reading file: .\LLamaResult\neutral\sd3\results_sd3_neutralp4_2.csv
df shape is: (14715, 5)
Reading file: .\LLamaResult\neutral\sd3\results_sd3_neutralp4_3.csv
df shape is: (14715, 5)
Combined DataFrame shape: (176580, 5)

In [108]:
df_comb.columns

Index(['Name', 'source', 'Item', 'ItemNum', 'Answer'], dtype='object')

In [109]:
# Apply the function to the 'Answer' column
df_comb['Answer'] = df_comb['Answer'].apply(extract_number)

df_comb['Answer_numeric'] = pd.to_numeric(df_comb['Answer'], errors='coerce')

# Identify non-numeric values
df_comb['Is_non_numeric'] = df_comb['Answer_numeric'].isna()

# Group by 'Itemnum' and count non-numeric answers
result = df_comb.groupby('ItemNum')['Is_non_numeric'].sum()

# Sort the result in descending order
result_sorted = result.sort_values(ascending=False)

# Display the sorted result
print(result_sorted)

ItemNum
26    4892
19      17
5       11
21      10
23       6
27       4
25       1
6        1
20       1
3        0
1        0
11       0
10       0
9        0
8        0
7        0
4        0
2        0
12       0
18       0
17       0
16       0
15       0
13       0
14       0
22       0
24       0
Name: Is_non_numeric, dtype: int64

In [110]:
df_comb.head

<bound method NDFrame.head of                    Name  source  \
0       Michael Jackson   Actor
1       Michael Jackson   Actor
2       Michael Jackson   Actor
3       Michael Jackson   Actor
4       Michael Jackson   Actor
...                 ...     ...
176575      Niall Horan  Singer
176576      Niall Horan  Singer
176577      Niall Horan  Singer
176578      Niall Horan  Singer
176579      Niall Horan  Singer

                                                     Item  ItemNum  Answer  \
0                      It's not wise to tell your secrets        1     5.0
1         I like to use clever manipulation to get my way        2     2.0
2       Whatever it takes, you must get the important ...        3     4.0
3       Avoid direct conflict with others because they...        4     5.0
4       It's wise to keep track of information that yo...        5     4.0
...                                                   ...      ...     ...
176575             It's true that I can be mean to others       23     4.0
176576           People who mess with me always regret it       24     4.0
176577      I have never gotten into trouble with the law       25     4.0
176578       I enjoy having sex with people I hardly know       26     2.0
176579               I'll say anything to get what I want       27     2.0

        Answer_numeric  Is_non_numeric
0                  5.0           False
1                  2.0           False
2                  4.0           False
3                  5.0           False
4                  4.0           False
...                ...             ...
176575             4.0           False
176576             4.0           False
176577             4.0           False
176578             2.0           False
176579             2.0           False

[176580 rows x 7 columns]>

In [98]:
df_comb.columns

Index(['Name', 'source', 'Item', 'ItemNum', 'Answer', 'Answer_numeric',
       'Is_non_numeric'],
      dtype='object')

In [111]:

#If there is a guardrail for a particular item, we replace tha value with 3
# os.sleep(10)
df_comb.loc[(df_comb['ItemNum'] == 26) & (df_comb['Answer_numeric'].isna()), 'Answer_numeric'] = 3

#print(df_comb.shape)

In [112]:
print(df_comb.shape)

(176580, 7)

In [115]:
df_comb.loc[df_comb['ItemNum']==26]

,Name,source,Item,ItemNum,Answer,Answer_numeric,Is_non_numeric,adjusted_score
25,Michael Jackson,Actor,I enjoy having sex with people I hardly know,26,NaN,3.0,True,3.0
52,Donald Trump,Actor,I enjoy having sex with people I hardly know,26,NaN,3.0,True,3.0
79,Ronald Reagan,Actor,I enjoy having sex with people I hardly know,26,NaN,3.0,True,3.0
106,Charlie Chaplin,Actor,I enjoy having sex with people I hardly know,26,NaN,3.0,True,3.0
133,Rabindranath Tagore,Actor,I enjoy having sex with people I hardly know,26,NaN,3.0,True,3.0
...,...,...,...,...,...,...,...,...
176470,Justin Timberlake,Singer,I enjoy having sex with people I hardly know,26,NaN,3.0,True,3.0
176497,Jimmy Fallon,Actor,I enjoy having sex with people I hardly know,26,NaN,3.0,True,3.0
176524,Akshay Kumar,Actor,I enjoy having sex with people I hardly know,26,NaN,3.0,True,3.0
176551,Salman Khan,Actor,I enjoy having sex with people I hardly know,26,3.0,3.0,False,3.0
176578,Niall Horan,Singer,I enjoy having sex with people I hardly know,26,2.0,2.0,False,2.0

In [114]:
df_comb['adjusted_score'] = df_comb.apply(adjust_score2,axis=1)

print(count3)

85140

In [116]:
avg_score= df_comb.groupby(['Name', 'ItemNum','source'])['adjusted_score'].mean().reset_index()
print(avg_score.shape)

(14715, 4)

In [117]:
avg_score

             Name  ItemNum        source  adjusted_score
0         50 Cent        1  Entrepreneur        4.333333
1         50 Cent        2  Entrepreneur        4.833333
2         50 Cent        3  Entrepreneur        4.750000
3         50 Cent        4  Entrepreneur        3.833333
4         50 Cent        5  Entrepreneur        4.583333
...           ...      ...           ...             ...
14710  Édith Piaf       23         Actor        3.500000
14711  Édith Piaf       24         Actor        5.000000
14712  Édith Piaf       25         Actor        4.250000
14713  Édith Piaf       26         Actor        2.666667
14714  Édith Piaf       27         Actor        3.583333

[14715 rows x 4 columns]

In [118]:
df_drop=avg_score.loc[avg_score['adjusted_score'].isna()]['Name']
print(df_drop)
df_filt = avg_score[~avg_score['Name'].isin(df_drop)]

df_filt = df_filt.reset_index(drop=True)

# Print some information about the filtering process
print(f"Original number of rows: {len(avg_score)}")
print(f"Number of rows after filtering: {len(df_filt)}")
print(f"Number of rows removed: {len(avg_score) - len(df_filt)}")

Series([], Name: Name, dtype: object)
Original number of rows: 14715
Number of rows after filtering: 14715
Number of rows removed: 0

In [119]:
result_sd3_n=sd3_calc2(df_filt)
result_sd3_n.to_csv('./test_scores/SD3/result_l70b_sd3_n.csv')

                       Name        source  Machiavellianism  Narcissism  \
0                   50 Cent  Entrepreneur             4.324       4.435
1               A. A. Milne        Author             2.981       3.130
2    Abdelkader El Djezairi     Scientist             3.407       4.222
3           Abraham Lincoln           HoS             2.926       3.639
4                Ada Yonath     Scientist             3.000       3.685
..                      ...           ...               ...         ...
540     Zbigniew Brzezinski        Author             3.889       4.037
541                 Zendaya         Actor             3.296       4.324
542           Zhan Beleniuk       Athlete             3.685       4.241
543      Zlatan Ibrahimovic       Athlete             4.213       4.769
544              Édith Piaf         Actor             3.398       3.796

     Psychopathy
0          4.630
1          2.102
2          2.926
3          2.120
4          2.324
..           ...
540        2.880
541        2.704
542        3.315
543        4.491
544        3.787

[545 rows x 5 columns]

### LLama 8B

In [157]:
df1=pd.read_csv('./Llama8b/results/results_sd3_badp1.csv')
df2=pd.read_csv('./Llama8b/results/results_sd3_badp2.csv')

In [158]:
df_list=[df1,df2]
df_comb = pd.concat(df_list, ignore_index=True)

In [159]:
df_comb.shape

(144828, 5)

In [160]:
# Apply the function to the 'Answer' column
df_comb['Answer'] = df_comb['Answer'].apply(extract_number)

df_comb['Answer_numeric'] = pd.to_numeric(df_comb['Answer'], errors='coerce')

# Identify non-numeric values
df_comb['Is_non_numeric'] = df_comb['Answer_numeric'].isna()

# Group by 'Itemnum' and count non-numeric answers
result = df_comb.groupby('Itemnum')['Is_non_numeric'].sum()

# Sort the result in descending order
result_sorted = result.sort_values(ascending=False)

# Display the sorted result
print(result_sorted)

Itemnum
26    2716
19       8
7        5
15       4
13       2
10       2
25       2
21       1
18       1
6        1
3        0
11       0
9        0
8        0
4        0
5        0
1        0
2        0
14       0
16       0
17       0
12       0
20       0
23       0
22       0
24       0
27       0
Name: Is_non_numeric, dtype: int64

In [161]:
df_comb.columns

Index(['Name', 'source', 'Item', 'Itemnum', 'Answer', 'Answer_numeric',
       'Is_non_numeric'],
      dtype='object')

In [162]:

#If there is a guardrail for a particular item, we replace tha value with 3
# os.sleep(10)
df_comb.loc[(df_comb['Itemnum'] == 26) & (df_comb['Answer_numeric'].isna()), 'Answer_numeric'] = 3

#print(df_comb.shape)

df_comb['adjusted_score'] = df_comb.apply(adjust_score2,axis=1)

print(count3)

117840

In [163]:
df_comb.loc[df_comb['Itemnum']==26]

,Name,source,Item,Itemnum,Answer,Answer_numeric,Is_non_numeric,adjusted_score
25,Osama bin Laden,Terrorist,I enjoy having sex with people I hardly know,26,NaN,3.0,True,3.0
52,Abu Bakr al-Baghdadi,Terrorist,I enjoy having sex with people I hardly know,26,NaN,3.0,True,3.0
79,Anders Behring Breivik,Terrorist,I enjoy having sex with people I hardly know,26,NaN,3.0,True,3.0
106,Stepan Bandera,Terrorist,I enjoy having sex with people I hardly know,26,1.0,1.0,False,1.0
133,Nigel Farage,Terrorist,I enjoy having sex with people I hardly know,26,5.0,5.0,False,5.0
...,...,...,...,...,...,...,...,...
144718,Alfredo Stroessner,Dictator,I enjoy having sex with people I hardly know,26,NaN,3.0,True,3.0
144745,Fulgencio Batista,Dictator,I enjoy having sex with people I hardly know,26,NaN,3.0,True,3.0
144772,Jorge Rafael Videla,Dictator,I enjoy having sex with people I hardly know,26,1.0,1.0,False,1.0
144799,Georgios Papadopoulos,Dictator,I enjoy having sex with people I hardly know,26,1.0,1.0,False,1.0
144826,Manuel Noriega,Dictator,I enjoy having sex with people I hardly know,26,NaN,3.0,True,3.0

In [164]:
print(df_comb.shape)

(144828, 8)

In [165]:
avg_score= df_comb.groupby(['Name', 'Itemnum','source'])['adjusted_score'].mean().reset_index()
print(avg_score.shape)

(12069, 4)

In [166]:
df_drop=avg_score.loc[avg_score['adjusted_score'].isna()]['Name']
print(df_drop)
df_filt = avg_score[~avg_score['Name'].isin(df_drop)]

df_filt = df_filt.reset_index(drop=True)

# Print some information about the filtering process
print(f"Original number of rows: {len(avg_score)}")
print(f"Number of rows after filtering: {len(df_filt)}")
print(f"Number of rows removed: {len(avg_score) - len(df_filt)}")

Series([], Name: Name, dtype: object)
Original number of rows: 12069
Number of rows after filtering: 12069
Number of rows removed: 0

In [167]:
result_sd3_b=sd3_calc2(df_filt)
result_sd3_b.to_csv('./test_scores/SD3/result_l8b_sd3_b.csv')

                        Name        source  Machiavellianism  Narcissism  \
0                  2 Pistols      Druglord             4.046       3.639
1         Abdelhamid Abaaoud     Terrorist             4.667       3.667
2            Abdolmalek Rigi     Terrorist             4.491       3.824
3         Abdulaziz al-Omari     Terrorist             4.065       3.620
4    Abdullah Ahmed Abdullah     Terrorist             4.204       3.657
..                       ...           ...               ...         ...
442               Yevno Azef     Terrorist             4.481       3.769
443           Yoo Young-chul  SerialKiller             4.593       3.593
444            Yoshio Kodama      Druglord             4.759       3.630
445            Zodiac Killer  SerialKiller             4.620       3.602
446  Ángel Maturino Reséndiz  SerialKiller             4.426       3.435

     Psychopathy
0          3.639
1          4.111
2          3.750
3          3.741
4          3.407
..           ...
442        3.917
443        3.963
444        4.046
445        3.796
446        4.139

[447 rows x 5 columns]

### Claude

In [22]:
import pandas as pd
import glob
import os

# Correct the path construction
path = r'.\claude\results\neutral\sd3'  # Use a raw string to avoid escape character issues

# Adjust the glob pattern for .csv files
all_files = glob.glob(os.path.join(path, '*.csv'))

df_list = []
print("Files found:", all_files)

# Iterate over the files
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    print(f"Reading file: {filename}")
    print("df shape is:", df.shape)
    df_list.append(df)

# Combine all DataFrames into one
df_comb = pd.concat(df_list, axis=0, ignore_index=True)

print("Combined DataFrame shape:", df_comb.shape)

Files found: ['.\\claude\\results\\neutral\\sd3\\results_sd3_neutralp1_1.csv', '.\\claude\\results\\neutral\\sd3\\results_sd3_neutralp1_2.csv', '.\\claude\\results\\neutral\\sd3\\results_sd3_neutralp1_3.csv', '.\\claude\\results\\neutral\\sd3\\results_sd3_neutralp2_1.csv', '.\\claude\\results\\neutral\\sd3\\results_sd3_neutralp2_2.csv', '.\\claude\\results\\neutral\\sd3\\results_sd3_neutralp2_3.csv', '.\\claude\\results\\neutral\\sd3\\results_sd3_neutralp3_1.csv', '.\\claude\\results\\neutral\\sd3\\results_sd3_neutralp3_2.csv', '.\\claude\\results\\neutral\\sd3\\results_sd3_neutralp3_3.csv', '.\\claude\\results\\neutral\\sd3\\results_sd3_neutralp4_1.csv', '.\\claude\\results\\neutral\\sd3\\results_sd3_neutralp4_2.csv', '.\\claude\\results\\neutral\\sd3\\results_sd3_neutralp4_3.csv']
Reading file: .\claude\results\neutral\sd3\results_sd3_neutralp1_1.csv
df shape is: (10800, 5)
Reading file: .\claude\results\neutral\sd3\results_sd3_neutralp1_2.csv
df shape is: (10800, 5)
Reading file: .\claude\results\neutral\sd3\results_sd3_neutralp1_3.csv
df shape is: (10800, 5)
Reading file: .\claude\results\neutral\sd3\results_sd3_neutralp2_1.csv
df shape is: (10800, 5)
Reading file: .\claude\results\neutral\sd3\results_sd3_neutralp2_2.csv
df shape is: (10800, 5)
Reading file: .\claude\results\neutral\sd3\results_sd3_neutralp2_3.csv
df shape is: (10800, 5)
Reading file: .\claude\results\neutral\sd3\results_sd3_neutralp3_1.csv
df shape is: (10800, 5)
Reading file: .\claude\results\neutral\sd3\results_sd3_neutralp3_2.csv
df shape is: (10800, 5)
Reading file: .\claude\results\neutral\sd3\results_sd3_neutralp3_3.csv
df shape is: (10800, 5)
Reading file: .\claude\results\neutral\sd3\results_sd3_neutralp4_1.csv
df shape is: (10800, 5)
Reading file: .\claude\results\neutral\sd3\results_sd3_neutralp4_2.csv
df shape is: (10800, 5)
Reading file: .\claude\results\neutral\sd3\results_sd3_neutralp4_3.csv
df shape is: (10800, 5)
Combined DataFrame shape: (129600, 5)

In [23]:
df_comb.columns

Index(['Name', 'source', 'Item', 'ItemNum', 'Answer'], dtype='object')

In [24]:
df_comb['Name'].describe()

count          129600
unique            400
top       Niall Horan
freq              324
Name: Name, dtype: object

In [25]:
# Apply the function to the 'Answer' column
df_comb['Answer'] = df_comb['Answer'].apply(extract_number)

df_comb['Answer_numeric'] = pd.to_numeric(df_comb['Answer'], errors='coerce')

# Identify non-numeric values
df_comb['Is_non_numeric'] = df_comb['Answer_numeric'].isna()

# Group by 'Itemnum' and count non-numeric answers
result = df_comb.groupby('ItemNum')['Is_non_numeric'].sum()

# Sort the result in descending order
result_sorted = result.sort_values(ascending=False)

# Display the sorted result
print(result_sorted)

ItemNum
26    57
21    19
19     8
5      6
27     5
9      3
24     3
2      3
23     2
3      0
1      0
11     0
10     0
8      0
7      0
4      0
6      0
14     0
12     0
18     0
17     0
16     0
15     0
13     0
20     0
22     0
25     0
Name: Is_non_numeric, dtype: int64

In [26]:
df_comb.head

<bound method NDFrame.head of                    Name  source  \
0       Michael Jackson   Actor
1       Michael Jackson   Actor
2       Michael Jackson   Actor
3       Michael Jackson   Actor
4       Michael Jackson   Actor
...                 ...     ...
129595      Niall Horan  Singer
129596      Niall Horan  Singer
129597      Niall Horan  Singer
129598      Niall Horan  Singer
129599      Niall Horan  Singer

                                                     Item  ItemNum  Answer  \
0                     It's not wise to tell your secrets.        1     4.0
1        I like to use clever manipulation to get my way.        2     2.0
2       Whatever it takes, you must get the important ...        3     5.0
3       Avoid direct conflict with others because they...        4     3.0
4       It's wise to keep track of information that yo...        5     1.0
...                                                   ...      ...     ...
129595             It's true that I can be mean to others       23     2.0
129596           People who mess with me always regret it       24     3.0
129597      I have never gotten into trouble with the law       25     5.0
129598       I enjoy having sex with people I hardly know       26     3.0
129599               I'll say anything to get what I want       27     2.0

        Answer_numeric  Is_non_numeric
0                  4.0           False
1                  2.0           False
2                  5.0           False
3                  3.0           False
4                  1.0           False
...                ...             ...
129595             2.0           False
129596             3.0           False
129597             5.0           False
129598             3.0           False
129599             2.0           False

[129600 rows x 7 columns]>

In [27]:

#If there is a guardrail for a particular item, we replace tha value with 3
# os.sleep(10)
df_comb.loc[(df_comb['ItemNum'] == 26) & (df_comb['Answer_numeric'].isna()), 'Answer_numeric'] = 3

#print(df_comb.shape)

df_comb['adjusted_score'] = df_comb.apply(adjust_score2,axis=1)

print(count3)

48000

In [28]:
print(df_comb.shape)

(129600, 8)

In [29]:
df_comb.loc[df_comb['ItemNum']==26]

,Name,source,Item,ItemNum,Answer,Answer_numeric,Is_non_numeric,adjusted_score
25,Michael Jackson,Actor,I enjoy having sex with people I hardly know,26,1.0,1.0,False,1.0
52,Donald Trump,Actor,I enjoy having sex with people I hardly know,26,5.0,5.0,False,5.0
79,Ronald Reagan,Actor,I enjoy having sex with people I hardly know,26,1.0,1.0,False,1.0
106,Charlie Chaplin,Actor,I enjoy having sex with people I hardly know,26,2.0,2.0,False,2.0
133,Rabindranath Tagore,Actor,I enjoy having sex with people I hardly know,26,1.0,1.0,False,1.0
...,...,...,...,...,...,...,...,...
129490,Justin Timberlake,Singer,I enjoy having sex with people I hardly know,26,2.0,2.0,False,2.0
129517,Jimmy Fallon,Actor,I enjoy having sex with people I hardly know,26,3.0,3.0,False,3.0
129544,Akshay Kumar,Actor,I enjoy having sex with people I hardly know,26,1.0,1.0,False,1.0
129571,Salman Khan,Actor,I enjoy having sex with people I hardly know,26,3.0,3.0,False,3.0
129598,Niall Horan,Singer,I enjoy having sex with people I hardly know,26,3.0,3.0,False,3.0

In [30]:
df_comb.head

<bound method NDFrame.head of                    Name  source  \
0       Michael Jackson   Actor
1       Michael Jackson   Actor
2       Michael Jackson   Actor
3       Michael Jackson   Actor
4       Michael Jackson   Actor
...                 ...     ...
129595      Niall Horan  Singer
129596      Niall Horan  Singer
129597      Niall Horan  Singer
129598      Niall Horan  Singer
129599      Niall Horan  Singer

                                                     Item  ItemNum  Answer  \
0                     It's not wise to tell your secrets.        1     4.0
1        I like to use clever manipulation to get my way.        2     2.0
2       Whatever it takes, you must get the important ...        3     5.0
3       Avoid direct conflict with others because they...        4     3.0
4       It's wise to keep track of information that yo...        5     1.0
...                                                   ...      ...     ...
129595             It's true that I can be mean to others       23     2.0
129596           People who mess with me always regret it       24     3.0
129597      I have never gotten into trouble with the law       25     5.0
129598       I enjoy having sex with people I hardly know       26     3.0
129599               I'll say anything to get what I want       27     2.0

        Answer_numeric  Is_non_numeric  adjusted_score
0                  4.0           False             4.0
1                  2.0           False             2.0
2                  5.0           False             5.0
3                  3.0           False             3.0
4                  1.0           False             1.0
...                ...             ...             ...
129595             2.0           False             2.0
129596             3.0           False             3.0
129597             5.0           False             1.0
129598             3.0           False             3.0
129599             2.0           False             2.0

[129600 rows x 8 columns]>

In [31]:
avg_score= df_comb.groupby(['Name', 'ItemNum','source'])['adjusted_score'].mean().reset_index()
print(avg_score.shape)

(10800, 4)

In [34]:
avg_score

             Name  ItemNum        source  adjusted_score
0         50 Cent        1  Entrepreneur        5.000000
1         50 Cent        2  Entrepreneur        4.500000
2         50 Cent        3  Entrepreneur        5.000000
3         50 Cent        4  Entrepreneur        3.583333
4         50 Cent        5  Entrepreneur        4.750000
...           ...      ...           ...             ...
10795  Édith Piaf       23         Actor        3.333333
10796  Édith Piaf       24         Actor        4.666667
10797  Édith Piaf       25         Actor        4.166667
10798  Édith Piaf       26         Actor        3.000000
10799  Édith Piaf       27         Actor        2.500000

[10800 rows x 4 columns]

In [33]:
df_drop=avg_score.loc[avg_score['adjusted_score'].isna()]['Name']
print(df_drop)
df_filt = avg_score[~avg_score['Name'].isin(df_drop)]

df_filt = df_filt.reset_index(drop=True)

# Print some information about the filtering process
print(f"Original number of rows: {len(avg_score)}")
print(f"Number of rows after filtering: {len(df_filt)}")
print(f"Number of rows removed: {len(avg_score) - len(df_filt)}")

Series([], Name: Name, dtype: object)
Original number of rows: 10800
Number of rows after filtering: 10800
Number of rows removed: 0

In [35]:
result_sd3_n=sd3_calc2(df_filt)
result_sd3_n.to_csv('./test_scores/SD3/result_cs35_sd3_n.csv')

                       Name        source  Machiavellianism  Narcissism  \
0                   50 Cent  Entrepreneur             4.528       4.759
1               A. A. Milne        Author             2.565       2.972
2    Abdelkader El Djezairi     Scientist             2.907       3.880
3           Abraham Lincoln           HoS             2.389       3.352
4                Ada Yonath     Scientist             2.278       3.352
..                      ...           ...               ...         ...
395             Zack Snyder     Scientist             3.574       4.602
396     Zbigniew Brzezinski        Author             3.556       3.852
397                 Zendaya         Actor             2.620       3.694
398      Zlatan Ibrahimovic       Athlete             4.241       5.000
399              Édith Piaf         Actor             3.000       4.583

     Psychopathy
0          4.528
1          1.565
2          2.528
3          1.389
4          1.389
..           ...
395        3.380
396        2.194
397        1.778
398        4.157
399        3.463

[400 rows x 5 columns]

### GPT Results

In [75]:
import pandas as pd
import glob
import os

# Correct the path construction
path = r'.\Gptresults\Good\SD3'  # Use a raw string to avoid escape character issues

# Adjust the glob pattern for .csv files
all_files = glob.glob(os.path.join(path, '*.csv'))

df_list = []
print("Files found:", all_files)

# Iterate over the files
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    print(f"Reading file: {filename}")
    print("df shape is:", df.shape)
    df_list.append(df)

# Combine all DataFrames into one
df_comb = pd.concat(df_list, axis=0, ignore_index=True)

print("Combined DataFrame shape:", df_comb.shape)

Files found: ['.\\Gptresults\\Good\\SD3\\results_sd3_goodp1_1.csv', '.\\Gptresults\\Good\\SD3\\results_sd3_goodp1_2.csv', '.\\Gptresults\\Good\\SD3\\results_sd3_goodp1_3.csv', '.\\Gptresults\\Good\\SD3\\results_sd3_goodp2_1.csv', '.\\Gptresults\\Good\\SD3\\results_sd3_goodp2_2.csv', '.\\Gptresults\\Good\\SD3\\results_sd3_goodp2_3.csv', '.\\Gptresults\\Good\\SD3\\results_sd3_goodp3_1.csv', '.\\Gptresults\\Good\\SD3\\results_sd3_goodp3_2.csv', '.\\Gptresults\\Good\\SD3\\results_sd3_goodp3_3.csv', '.\\Gptresults\\Good\\SD3\\results_sd3_goodp4_1.csv', '.\\Gptresults\\Good\\SD3\\results_sd3_goodp4_2.csv', '.\\Gptresults\\Good\\SD3\\results_sd3_goodp4_3.csv']
Reading file: .\Gptresults\Good\SD3\results_sd3_goodp1_1.csv
df shape is: (10800, 5)
Reading file: .\Gptresults\Good\SD3\results_sd3_goodp1_2.csv
df shape is: (10800, 5)
Reading file: .\Gptresults\Good\SD3\results_sd3_goodp1_3.csv
df shape is: (10800, 5)
Reading file: .\Gptresults\Good\SD3\results_sd3_goodp2_1.csv
df shape is: (10800, 5)
Reading file: .\Gptresults\Good\SD3\results_sd3_goodp2_2.csv
df shape is: (10800, 5)
Reading file: .\Gptresults\Good\SD3\results_sd3_goodp2_3.csv
df shape is: (10800, 5)
Reading file: .\Gptresults\Good\SD3\results_sd3_goodp3_1.csv
df shape is: (10800, 5)
Reading file: .\Gptresults\Good\SD3\results_sd3_goodp3_2.csv
df shape is: (10800, 5)
Reading file: .\Gptresults\Good\SD3\results_sd3_goodp3_3.csv
df shape is: (10800, 5)
Reading file: .\Gptresults\Good\SD3\results_sd3_goodp4_1.csv
df shape is: (10800, 5)
Reading file: .\Gptresults\Good\SD3\results_sd3_goodp4_2.csv
df shape is: (10800, 5)
Reading file: .\Gptresults\Good\SD3\results_sd3_goodp4_3.csv
df shape is: (10800, 5)
Combined DataFrame shape: (129600, 5)

In [76]:
df_comb.columns

Index(['Name', 'source', 'Item', 'ItemNum', 'Answer'], dtype='object')

In [77]:
df_comb['Name'].describe()

count              129600
unique                400
top       Gerhard Fischer
freq                  324
Name: Name, dtype: object

In [78]:
# Apply the function to the 'Answer' column
df_comb['Answer'] = df_comb['Answer'].apply(extract_number)

df_comb['Answer_numeric'] = pd.to_numeric(df_comb['Answer'], errors='coerce')

# Identify non-numeric values
df_comb['Is_non_numeric'] = df_comb['Answer_numeric'].isna()

# Group by 'Itemnum' and count non-numeric answers
result = df_comb.groupby('ItemNum')['Is_non_numeric'].sum()

# Sort the result in descending order
result_sorted = result.sort_values(ascending=False)

# Display the sorted result
print(result_sorted)

ItemNum
26    66
23     3
10     2
12     1
3      0
6      0
5      0
7      0
4      0
2      0
1      0
11     0
9      0
8      0
13     0
16     0
17     0
14     0
15     0
19     0
18     0
21     0
20     0
22     0
24     0
25     0
27     0
Name: Is_non_numeric, dtype: int64

In [79]:
df_comb.head

<bound method NDFrame.head of                    Name source  \
0          Barack Obama    NPP
1          Barack Obama    NPP
2          Barack Obama    NPP
3          Barack Obama    NPP
4          Barack Obama    NPP
...                 ...    ...
129595  Gerhard Fischer    GPP
129596  Gerhard Fischer    GPP
129597  Gerhard Fischer    GPP
129598  Gerhard Fischer    GPP
129599  Gerhard Fischer    GPP

                                                     Item  ItemNum  Answer  \
0                     It's not wise to tell your secrets.        1     4.0
1        I like to use clever manipulation to get my way.        2     2.0
2       Whatever it takes, you must get the important ...        3     4.0
3       Avoid direct conflict with others because they...        4     4.0
4       It's wise to keep track of information that yo...        5     2.0
...                                                   ...      ...     ...
129595             It's true that I can be mean to others       23     3.0
129596           People who mess with me always regret it       24     3.0
129597      I have never gotten into trouble with the law       25     3.0
129598       I enjoy having sex with people I hardly know       26     3.0
129599               I'll say anything to get what I want       27     1.0

        Answer_numeric  Is_non_numeric
0                  4.0           False
1                  2.0           False
2                  4.0           False
3                  4.0           False
4                  2.0           False
...                ...             ...
129595             3.0           False
129596             3.0           False
129597             3.0           False
129598             3.0           False
129599             1.0           False

[129600 rows x 7 columns]>

In [80]:

#If there is a guardrail for a particular item, we replace tha value with 3
# os.sleep(10)
df_comb.loc[(df_comb['ItemNum'] == 26) & (df_comb['Answer_numeric'].isna()), 'Answer_numeric'] = 3

#print(df_comb.shape)

df_comb['adjusted_score'] = df_comb.apply(adjust_score2,axis=1)

print(count3)

144000

In [81]:
print(df_comb.shape)

(129600, 8)

In [82]:
df_comb.head

<bound method NDFrame.head of                    Name source  \
0          Barack Obama    NPP
1          Barack Obama    NPP
2          Barack Obama    NPP
3          Barack Obama    NPP
4          Barack Obama    NPP
...                 ...    ...
129595  Gerhard Fischer    GPP
129596  Gerhard Fischer    GPP
129597  Gerhard Fischer    GPP
129598  Gerhard Fischer    GPP
129599  Gerhard Fischer    GPP

                                                     Item  ItemNum  Answer  \
0                     It's not wise to tell your secrets.        1     4.0
1        I like to use clever manipulation to get my way.        2     2.0
2       Whatever it takes, you must get the important ...        3     4.0
3       Avoid direct conflict with others because they...        4     4.0
4       It's wise to keep track of information that yo...        5     2.0
...                                                   ...      ...     ...
129595             It's true that I can be mean to others       23     3.0
129596           People who mess with me always regret it       24     3.0
129597      I have never gotten into trouble with the law       25     3.0
129598       I enjoy having sex with people I hardly know       26     3.0
129599               I'll say anything to get what I want       27     1.0

        Answer_numeric  Is_non_numeric  adjusted_score
0                  4.0           False             4.0
1                  2.0           False             4.0
2                  4.0           False             4.0
3                  4.0           False             4.0
4                  2.0           False             2.0
...                ...             ...             ...
129595             3.0           False             3.0
129596             3.0           False             3.0
129597             3.0           False             3.0
129598             3.0           False             3.0
129599             1.0           False             5.0

[129600 rows x 8 columns]>

In [83]:
df_comb.loc[df_comb['ItemNum']==26]

,Name,source,Item,ItemNum,Answer,Answer_numeric,Is_non_numeric,adjusted_score
25,Barack Obama,NPP,I enjoy having sex with people I hardly know,26,1.0,1.0,False,1.0
52,Nelson Mandela,NPP,I enjoy having sex with people I hardly know,26,2.0,2.0,False,2.0
79,Martin Luther King Jr.,NPP,I enjoy having sex with people I hardly know,26,1.0,1.0,False,1.0
106,Mikhail Gorbachev,NPP,I enjoy having sex with people I hardly know,26,1.0,1.0,False,1.0
133,Mother Teresa,NPP,I enjoy having sex with people I hardly know,26,1.0,1.0,False,1.0
...,...,...,...,...,...,...,...,...
129490,Václav Havel,GPP,I enjoy having sex with people I hardly know,26,1.0,1.0,False,1.0
129517,Julius Nyerere,GPP,I enjoy having sex with people I hardly know,26,2.0,2.0,False,2.0
129544,Coretta Scott King,GPP,I enjoy having sex with people I hardly know,26,1.0,1.0,False,1.0
129571,Wahiduddin Khan,GPP,I enjoy having sex with people I hardly know,26,1.0,1.0,False,1.0
129598,Gerhard Fischer,GPP,I enjoy having sex with people I hardly know,26,3.0,3.0,False,3.0

In [84]:
df_comb.head

<bound method NDFrame.head of                    Name source  \
0          Barack Obama    NPP
1          Barack Obama    NPP
2          Barack Obama    NPP
3          Barack Obama    NPP
4          Barack Obama    NPP
...                 ...    ...
129595  Gerhard Fischer    GPP
129596  Gerhard Fischer    GPP
129597  Gerhard Fischer    GPP
129598  Gerhard Fischer    GPP
129599  Gerhard Fischer    GPP

                                                     Item  ItemNum  Answer  \
0                     It's not wise to tell your secrets.        1     4.0
1        I like to use clever manipulation to get my way.        2     2.0
2       Whatever it takes, you must get the important ...        3     4.0
3       Avoid direct conflict with others because they...        4     4.0
4       It's wise to keep track of information that yo...        5     2.0
...                                                   ...      ...     ...
129595             It's true that I can be mean to others       23     3.0
129596           People who mess with me always regret it       24     3.0
129597      I have never gotten into trouble with the law       25     3.0
129598       I enjoy having sex with people I hardly know       26     3.0
129599               I'll say anything to get what I want       27     1.0

        Answer_numeric  Is_non_numeric  adjusted_score
0                  4.0           False             4.0
1                  2.0           False             4.0
2                  4.0           False             4.0
3                  4.0           False             4.0
4                  2.0           False             2.0
...                ...             ...             ...
129595             3.0           False             3.0
129596             3.0           False             3.0
129597             3.0           False             3.0
129598             3.0           False             3.0
129599             1.0           False             5.0

[129600 rows x 8 columns]>

In [85]:
avg_score= df_comb.groupby(['Name', 'ItemNum','source'])['adjusted_score'].mean().reset_index()
print(avg_score.shape)

(10800, 4)

In [86]:
avg_score

                      Name  ItemNum source  adjusted_score
0         A. T. Ariyaratne        1     RM        4.083333
1         A. T. Ariyaratne        2     RM        4.916667
2         A. T. Ariyaratne        3     RM        2.500000
3         A. T. Ariyaratne        4     RM        4.166667
4         A. T. Ariyaratne        5     RM        1.166667
...                    ...      ...    ...             ...
10795  Óscar Arias Sánchez       23    NPP        4.750000
10796  Óscar Arias Sánchez       24    NPP        3.916667
10797  Óscar Arias Sánchez       25    NPP        4.500000
10798  Óscar Arias Sánchez       26    NPP        1.500000
10799  Óscar Arias Sánchez       27    NPP        4.750000

[10800 rows x 4 columns]

In [87]:
df_drop=avg_score.loc[avg_score['adjusted_score'].isna()]['Name']
print(df_drop)
df_filt = avg_score[~avg_score['Name'].isin(df_drop)]

df_filt = df_filt.reset_index(drop=True)

# Print some information about the filtering process
print(f"Original number of rows: {len(avg_score)}")
print(f"Number of rows after filtering: {len(df_filt)}")
print(f"Number of rows removed: {len(avg_score) - len(df_filt)}")

Series([], Name: Name, dtype: object)
Original number of rows: 10800
Number of rows after filtering: 10800
Number of rows removed: 0

In [88]:
result_sd3_g=sd3_calc2(df_filt)
result_sd3_g.to_csv('./test_scores/SD3/result_gpt4_sd3_g.csv')

                       Name source  Machiavellianism  Narcissism  Psychopathy
0          A. T. Ariyaratne     RM             3.639       2.954        3.407
1         A.H.M. Noman Khan     RM             3.602       2.991        3.194
2             Abdon Nababan     RM             3.519       2.954        3.269
3       Abdul Razak Hussein     RM             3.620       2.963        3.046
4        Abdul Samad Ismail     RM             3.389       2.935        3.231
..                      ...    ...               ...         ...          ...
395           Yukiharu Miki     RM             3.361       2.981        3.370
396     Zafrullah Chowdhury     RM             3.630       2.926        3.278
397  Zakiah Hanum Abd Hamid     RM             3.528       3.046        3.259
398           Élie Ducommun    NPP             3.639       2.935        3.472
399     Óscar Arias Sánchez    NPP             3.815       2.981        3.454

[400 rows x 5 columns]