In [1]:
import numpy as np 
import pandas as pd 
import os
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [10]:
# Read the CSV file
df=pd.read_csv('results_good7b.csv')

df.head()

        persona source                                  text  Itemnum  answer
0  Barack Obama    NPP                          Is talkative        1       5
1  Barack Obama    NPP       Tends to find fault with others        2       4
2  Barack Obama    NPP                   Does a thorough job        3       5
3  Barack Obama    NPP                    Is depressed, blue        4       5
4  Barack Obama    NPP  Is original, comes up with new ideas        5       4

In [11]:
df

,persona,source,text,Itemnum,answer
0,Barack Obama,NPP,Is talkative,1,5
1,Barack Obama,NPP,Tends to find fault with others,2,4
2,Barack Obama,NPP,Does a thorough job,3,5
3,Barack Obama,NPP,"Is depressed, blue",4,5
4,Barack Obama,NPP,"Is original, comes up with new ideas",5,4
...,...,...,...,...,...
18783,Gerhard Fischer,GPP,"Likes to reflect, play with ideas",40,3
18784,Gerhard Fischer,GPP,Has few artistic interests,41,3
18785,Gerhard Fischer,GPP,Likes to cooperate with others,42,5
18786,Gerhard Fischer,GPP,Is easily distracted,43,5
18787,Gerhard Fischer,GPP,"Is sophisticated in art, music, or Literature",44,3

In [12]:

# Define the scoring keys
scoring_key = {
    'Extraversion': [1, 6, 11, 16, 21, 26, 31, 36],
    'Agreeableness': [2, 7, 12, 17, 22, 27, 32, 37, 42],
    'Conscientiousness': [3, 8, 13, 18, 23, 28, 33, 38, 43],
    'Neuroticism': [4, 9, 14, 19, 24, 29, 34, 39],
    'Openness': [5, 10, 15, 20, 25, 30, 35, 40, 41, 44]
}

# Define reverse-scored items
reverse_scored = [6, 21, 31, 2, 12, 27, 37, 8, 18, 23, 43, 9, 24, 34, 35, 41]
reverse_scored = [6, 21, 31, 2, 12, 27, 37, 8, 18, 23, 43, 9, 24, 34, 35, 41]

# Function to adjust scores
def adjust_score(row):
    #print("for this row", row['persona'],"$$$$$", row['Itemnum'])
    if row['Itemnum'] in reverse_scored:
        #print("hit")
        return 6 - row['answer']
    return row['answer']

# Add adjusted score column
df['adjusted_score'] = df.apply(adjust_score,axis=1)
#print(df[:44])
# Function to calculate trait score
def calculate_trait_score(persona_data, trait_items):
    scores = []
    for item in trait_items:
        #print("§§§§§§§§§§§§§§§§§§§§")
        score = persona_data.loc[persona_data['Itemnum'] == item, 'answer'].iloc[0]
        if item in reverse_scored:
            score = 6 - score  # Reverse the score
        #print('§§§',score)    
        scores.append(score)
        
    return np.mean(scores)

# Group by persona and calculate scores
results = []
for persona, group in df.groupby('persona'):
    scores = {}
    for trait, items in scoring_key.items():
        scores[trait] = calculate_trait_score(group, items)
    results.append({'Persona': persona, **scores})

# Create a dataframe with the results
results_df = pd.DataFrame(results)

# Display the results
print(results_df)
#results_df.to_csv('bfi_scores.csv', index=False)

                    Persona  Extraversion  Agreeableness  Conscientiousness  \
0          A. T. Ariyaratne         2.625       3.333333           4.000000
1         A.H.M. Noman Khan         3.875       3.333333           3.777778
2             Abdon Nababan         4.000       2.555556           2.666667
3       Abdul Razak Hussein         3.250       2.777778           3.333333
4        Abdul Samad Ismail         3.125       4.000000           3.555556
..                      ...           ...            ...                ...
422         Zacarias Sarian         3.000       2.888889           4.000000
423     Zafrullah Chowdhury         3.375       2.888889           2.888889
424  Zakiah Hanum Abd Hamid         2.750       3.444444           4.000000
425           Élie Ducommun         3.500       2.777778           2.777778
426     Óscar Arias Sánchez         2.875       2.777778           3.888889

     Neuroticism  Openness
0          3.250       3.2
1          2.750       3.4
2          2.750       2.9
3          3.625       2.8
4          3.250       3.4
..           ...       ...
422        1.750       3.3
423        3.625       3.1
424        2.625       2.9
425        2.500       3.9
426        2.375       3.9

[427 rows x 6 columns]

In [15]:
results_df=results_df.round(3)
results_df.to_csv('BFI44-F7bI-G.csv', index=False)

In [16]:
import numpy as np
import pandas as pd

# Define the main function to process the data and calculate scores
def calculate_personality_scores(df, scoring_key, reverse_scored):
    # Function to adjust scores
    def adjust_score(row):
        if row['Itemnum'] in reverse_scored:
            return 6 - row['answer']
        return row['answer']

    # Add adjusted score column
    df['adjusted_score'] = df.apply(adjust_score, axis=1)
    
    # Function to calculate trait score for a single persona
    def calculate_trait_score(persona_data, trait_items):
        scores = []
        for item in trait_items:
            filtered_data = persona_data.loc[persona_data['Itemnum'] == item, 'answer']
            
            # Check if filtered_data is not empty
            if not filtered_data.empty:
                score = filtered_data.iloc[0]
                if item in reverse_scored:
                    score = 6 - score  # Reverse the score
                scores.append(score)
            else:
                print(f"Warning: Item {item} not found for persona {persona_data['persona'].iloc[0]}")
        
        # Return the mean of scores if scores list is not empty, else return None or np.nan
        return np.mean(scores) if scores else np.nan

    # Group by persona and calculate scores
    results = []
    for persona, group in df.groupby('persona'):
        scores = {}
        for trait, items in scoring_key.items():
            scores[trait] = calculate_trait_score(group, items)
        results.append({'Persona': persona, **scores})

    # Create a dataframe with the results
    results_df = pd.DataFrame(results)
    results_df = results_df.round(3)  # Round the results to 3 decimal places

    return results_df

# Example usage of the function:
# Define your scoring keys and reverse-scored items
scoring_key = {
    'Extraversion': [1, 6, 11, 16, 21, 26, 31, 36],
    'Agreeableness': [2, 7, 12, 17, 22, 27, 32, 37, 42],
    'Conscientiousness': [3, 8, 13, 18, 23, 28, 33, 38, 43],
    'Neuroticism': [4, 9, 14, 19, 24, 29, 34, 39],
    'Openness': [5, 10, 15, 20, 25, 30, 35, 40, 41, 44]
}

reverse_scored = [6, 21, 31, 2, 12, 27, 37, 8, 18, 23, 43, 9, 24, 34, 35, 41]

# Assuming you have a DataFrame `df` defined elsewhere
results_df = calculate_personality_scores(df, scoring_key, reverse_scored)

# Print or save the results
print(results_df)
# results_df.to_csv('bfi_scores.csv', index=False)

                    Persona  Extraversion  Agreeableness  Conscientiousness  \
0          A. T. Ariyaratne         2.625          3.333              4.000
1         A.H.M. Noman Khan         3.875          3.333              3.778
2             Abdon Nababan         4.000          2.556              2.667
3       Abdul Razak Hussein         3.250          2.778              3.333
4        Abdul Samad Ismail         3.125          4.000              3.556
..                      ...           ...            ...                ...
422         Zacarias Sarian         3.000          2.889              4.000
423     Zafrullah Chowdhury         3.375          2.889              2.889
424  Zakiah Hanum Abd Hamid         2.750          3.444              4.000
425           Élie Ducommun         3.500          2.778              2.778
426     Óscar Arias Sánchez         2.875          2.778              3.889

     Neuroticism  Openness
0          3.250       3.2
1          2.750       3.4
2          2.750       2.9
3          3.625       2.8
4          3.250       3.4
..           ...       ...
422        1.750       3.3
423        3.625       3.1
424        2.625       2.9
425        2.500       3.9
426        2.375       3.9

[427 rows x 6 columns]

In [18]:
df2=pd.read_csv('results_bad7b.csv')
df2.tail()

,persona,source,text,Itemnum,answer
19663,Manuel Noriega,Dictator,"Likes to reflect, play with ideas",40,1
19664,Manuel Noriega,Dictator,Has few artistic interests,41,3
19665,Manuel Noriega,Dictator,Likes to cooperate with others,42,5
19666,Manuel Noriega,Dictator,Is easily distracted,43,5
19667,Manuel Noriega,Dictator,"Is sophisticated in art, music, or Literature",44,4

In [19]:
# Assuming you have a DataFrame `df` defined elsewhere
results_df2 = calculate_personality_scores(df2, scoring_key, reverse_scored)

# Print or save the results
print(results_df2)
# results_df.to_csv('bfi_scores.csv', index=False)

                     Persona  Extraversion  Agreeableness  Conscientiousness  \
0                  2 Pistols         3.375          3.000              3.000
1         Abdelhamid Abaaoud         3.250          2.778              3.556
2            Abdolmalek Rigi         3.000          3.667              2.333
3         Abdulaziz al-Omari         2.500          2.444              3.111
4    Abdullah Ahmed Abdullah         2.500          3.778              3.444
..                       ...           ...            ...                ...
442               Yevno Azef         2.875          3.000              3.000
443           Yoo Young-chul         3.000          3.667              2.444
444            Yoshio Kodama         3.500          2.556              3.444
445            Zodiac Killer         2.125          3.667              2.889
446  Ángel Maturino Reséndiz         2.875          3.333              3.333

     Neuroticism  Openness
0          2.750       3.4
1          2.750       2.6
2          2.875       3.2
3          3.250       3.3
4          3.375       3.0
..           ...       ...
442        2.375       3.2
443        3.000       2.3
444        2.875       3.1
445        3.000       3.7
446        3.000       3.1

[447 rows x 6 columns]

In [20]:
results_df2.to_csv('BFI44-F7bI-B.csv', index=False)

In [22]:
df3=pd.read_csv('results_neutral7b.csv')
df3.head()

,persona,source,text,Itemnum,answer
0,Michael Jackson,Actor,Is talkative,1,1
1,Michael Jackson,Actor,Tends to find fault with others,2,2
2,Michael Jackson,Actor,Does a thorough job,3,4
3,Michael Jackson,Actor,"Is depressed, blue",4,4
4,Michael Jackson,Actor,"Is original, comes up with new ideas",5,1

In [23]:
# Assuming you have a DataFrame `df` defined elsewhere
results_df3 = calculate_personality_scores(df3, scoring_key, reverse_scored)

# Print or save the results
print(results_df3)
# results_df.to_csv('bfi_scores.csv', index=False)
results_df3.to_csv('BFI44-F7bI-N.csv', index=False)

                    Persona  Extraversion  Agreeableness  Conscientiousness  \
0                   50 Cent         2.500          3.889              3.889
1               A. A. Milne         2.875          3.111              3.111
2    Abdelkader El Djezairi         2.625          3.333              3.111
3                Ada Yonath         2.875          3.111              2.889
4                  Agnez Mo         2.625          3.778              1.889
..                      ...           ...            ...                ...
435            Yury Luzhkov         3.000          3.556              2.778
436             Zack Snyder         3.125          1.778              2.667
437     Zbigniew Brzezinski         3.000          3.333              3.000
438           Zhan Beleniuk         3.125          3.889              3.000
439              Édith Piaf         3.500          3.444              2.444

     Neuroticism  Openness
0          3.000       4.0
1          3.250       3.1
2          3.250       3.6
3          3.125       3.7
4          2.875       3.0
..           ...       ...
435        3.375       3.1
436        2.625       2.8
437        3.875       3.6
438        2.250       2.6
439        2.625       3.7

[440 rows x 6 columns]

In [3]:
df_llama_g=pd.read_csv('outputfile_g20.csv')
df_llama_g.head()

,persona,item,scale,result
0,Barack Obama,Is talkative,"1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",5
1,Barack Obama,Tends to find fault with others,"1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",2
2,Barack Obama,Does a thorough job,"1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",5
3,Barack Obama,"Is depressed, blue","1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",3
4,Barack Obama,"Is original, comes up with new ideas","1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",5

In [4]:
df_llama_g['Itemnum'] = df_llama_g.groupby('persona').cumcount() + 1
df_llama_g.head()

,persona,item,scale,result,Itemnum
0,Barack Obama,Is talkative,"1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",5,1
1,Barack Obama,Tends to find fault with others,"1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",2,2
2,Barack Obama,Does a thorough job,"1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",5,3
3,Barack Obama,"Is depressed, blue","1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",3,4
4,Barack Obama,"Is original, comes up with new ideas","1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",5,5

In [10]:
df_llama_g['Itemnum'].describe()

,persona,item,scale,result,Itemnum
0,Barack Obama,Is talkative,"1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",5,1
1,Barack Obama,Tends to find fault with others,"1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",2,2
2,Barack Obama,Does a thorough job,"1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",5,3
3,Barack Obama,"Is depressed, blue","1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",3,4
4,Barack Obama,"Is original, comes up with new ideas","1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",5,5

In [13]:
# Define the main function to process the data and calculate scores
def calculate_personality_scores(df, scoring_key, reverse_scored):
    # Function to adjust scores
    def adjust_score(row):
        if row['Itemnum'] in reverse_scored:
            return 6 - row['result']
        return row['result']

    # Add adjusted score column
    df['adjusted_score'] = df.apply(adjust_score, axis=1)
    
    # Function to calculate trait score for a single persona
    def calculate_trait_score(persona_data, trait_items):
        scores = []
        for item in trait_items:
            filtered_data = persona_data.loc[persona_data['Itemnum'] == item, 'result']
            
            # Check if filtered_data is not empty
            if not filtered_data.empty:
                score = filtered_data.iloc[0]
                if item in reverse_scored:
                    score = 6 - score  # Reverse the score
                scores.append(score)
            else:
                print(f"Warning: Item {item} not found for persona {persona_data['persona'].iloc[0]}")
        
        # Return the mean of scores if scores list is not empty, else return None or np.nan
        return np.mean(scores) if scores else np.nan

    # Group by persona and calculate scores
    results = []
    for persona, group in df.groupby('persona'):
        scores = {}
        for trait, items in scoring_key.items():
            scores[trait] = calculate_trait_score(group, items)
        results.append({'Persona': persona, **scores})

    # Create a dataframe with the results
    results_df = pd.DataFrame(results)
    results_df = results_df.round(3)  # Round the results to 3 decimal places

    return results_df

# Example usage of the function:
# Define your scoring keys and reverse-scored items
scoring_key = {
    'Extraversion': [1, 6, 11, 16, 21, 26, 31, 36],
    'Agreeableness': [2, 7, 12, 17, 22, 27, 32, 37, 42],
    'Conscientiousness': [3, 8, 13, 18, 23, 28, 33, 38, 43],
    'Neuroticism': [4, 9, 14, 19, 24, 29, 34, 39],
    'Openness': [5, 10, 15, 20, 25, 30, 35, 40, 41, 44]
}

reverse_scored = [6, 21, 31, 2, 12, 27, 37, 8, 18, 23, 43, 9, 24, 34, 35, 41]

# Assuming you have a DataFrame `df` defined elsewhere
results_df_llama = calculate_personality_scores(df_llama_g, scoring_key, reverse_scored)

# Print or save the results
print(results_df_llama)
results_df_llama.to_csv('bfi_L_G.csv', index=False)

                   Persona  Extraversion  Agreeableness  Conscientiousness  \
0                  Al Gore         3.500          4.222              4.111
1              Anwar Sadat         4.125          3.778              3.889
2         Aung San Suu Kyi         3.625          4.111              4.556
3             Barack Obama         3.625          4.222              4.333
4         Dag Hammarskjold         3.125          4.000              4.222
5          Henry Kissinger         3.375          2.444              4.333
6             Jimmy Carter         3.250          4.556              4.222
7               Kofi Annan         3.625          4.111              4.111
8              Lech Walesa         3.375          4.000              4.333
9         Malala Yousafzai         4.125          4.556              4.667
10  Martin Luther King Jr.         3.625          4.556              4.222
11       Mikhail Gorbachev         3.375          3.889              4.444
12           Mother Teresa         3.000          4.556              4.222
13          Nelson Mandela         3.750          4.444              4.222
14            Shimon Peres         3.500          3.889              4.000
15           Tenzin Gyatso         3.375          4.111              3.333
16      Theodore Roosevelt         4.750          4.000              4.556
17            Willy Brandt         3.500          4.111              3.778
18          Woodrow Wilson         3.625          4.111              3.889
19           Yasser Arafat         3.625          3.333              3.444

    Neuroticism  Openness
0         2.500       4.3
1         2.750       4.0
2         3.125       4.2
3         2.750       4.1
4         3.125       4.1
5         2.750       4.2
6         2.625       3.8
7         3.000       3.9
8         3.000       3.9
9         2.625       4.4
10        2.750       3.9
11        3.125       4.3
12        2.625       3.7
13        2.875       3.9
14        2.375       4.2
15        3.000       4.2
16        2.125       4.2
17        3.125       4.0
18        2.875       4.4
19        2.750       4.1

In [22]:
df_llama_n=pd.read_csv('outputfile_n20.csv')
df_llama_n.head()

,persona,item,scale,result
0,Michael Jackson,Is talkative,"1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",5
1,Michael Jackson,Tends to find fault with others,"1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",2
2,Michael Jackson,Does a thorough job,"1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",5
3,Michael Jackson,"Is depressed, blue","1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",2
4,Michael Jackson,"Is original, comes up with new ideas","1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",5

In [23]:
df_llama_n['Itemnum'] = df_llama_n.groupby('persona').cumcount() + 1
df_llama_n.head()

,persona,item,scale,result,Itemnum
0,Michael Jackson,Is talkative,"1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",5,1
1,Michael Jackson,Tends to find fault with others,"1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",2,2
2,Michael Jackson,Does a thorough job,"1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",5,3
3,Michael Jackson,"Is depressed, blue","1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",2,4
4,Michael Jackson,"Is original, comes up with new ideas","1 - Strongly Disagree, 2 - Disagree, 3 - Neutr...",5,5

In [21]:
df_llama_n['result'] = df_llama_n['result'].astype(int)

ValueError: invalid literal for int() with base 10: "I'm happy to play along!\n\nAs Leonhard Euler, I must respectfully point out that this question appears to be a self-reporting psychological assessment, which is not exactly within my area of experti

In [24]:
# Assuming you have a DataFrame `df` defined elsewhere
results_df_llama_n = calculate_personality_scores(df_llama_n, scoring_key, reverse_scored)

# Print or save the results
print(results_df_llama_n)
results_df_llama_n.to_csv('bfi_L_N.csv', index=False)

                    Persona  Extraversion  Agreeableness  Conscientiousness  \
0         Alexander Pushkin         3.250          3.333              3.444
1                Bill Gates         3.750          4.000              4.889
2      Carl Friedrich Gauss         2.875          3.778              4.556
3           Charles Dickens         3.250          3.667              3.444
4           Charlie Chaplin         2.500          4.000              3.444
5             Dave Bautista         3.625          3.556              3.667
6              Donald Trump         3.500          3.000              4.778
7                   Eusebio         3.625          3.889              3.778
8         George H. W. Bush         3.625          4.333              4.444
9         Guglielmo Marconi         3.500          3.778              4.444
10  Hans Christian Andersen         3.375          4.000              3.444
11                   Jet Li         3.375          3.889              4.333
12              Jimmy Wales         3.625          3.556              3.889
13           Leonhard Euler         3.750          3.889              4.222
14          Michael Jackson         3.875          4.000              4.222
15              Oscar Wilde         3.375          3.333              3.333
16                Petr Cech         3.125          3.889              4.444
17     Pierre-Simon Laplace         3.375          3.667              4.222
18            Ronald Reagan         4.125          4.333              4.222
19               Steve Jobs         3.875          3.111              4.667

    Neuroticism  Openness
0         2.875       4.5
1         1.875       4.3
2         2.500       4.3
3         3.000       4.5
4         3.250       4.4
5         2.750       3.9
6         2.125       4.0
7         3.000       4.0
8         2.375       3.8
9         3.000       3.9
10        3.250       4.7
11        2.500       4.1
12        3.000       4.3
13        2.875       4.2
14        3.000       4.5
15        3.000       4.8
16        2.250       3.3
17        2.625       4.3
18        2.250       4.1
19        2.500       4.8