In [3]:
import numpy as np 
import pandas as pd 
import os
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from collections import Counter

# Calculating bfi : Result calculating function

In [19]:
def bfi_calc(df):
    # Define the scoring keys
    scoring_key = {
        'Extraversion': [1, 6, 11, 16, 21, 26, 31, 36],
        'Agreeableness': [2, 7, 12, 17, 22, 27, 32, 37, 42],
        'Conscientiousness': [3, 8, 13, 18, 23, 28, 33, 38, 43],
        'Neuroticism': [4, 9, 14, 19, 24, 29, 34, 39],
        'Openness': [5, 10, 15, 20, 25, 30, 35, 40, 41, 44]
    }
    
    
    # Function to calculate trait score
    def calculate_trait_score(persona_data, trait_items):
        scores = []
        for item in trait_items:
            
            score = persona_data.loc[persona_data['Itemnum'] == item, 'adjusted_score'].iloc[0]
            scores.append(score)
        return np.mean(scores)
    
    # Group by persona and calculate scores
    results = []
    for (persona, source), group in df.groupby(['Name', 'source']): 
    
        scores = {}
        for trait, items in scoring_key.items():
            scores[trait] = calculate_trait_score(group, items)
        results.append({'Name': persona,'source':source, **scores})
    
    # Create a dataframe with the results
    results_df = pd.DataFrame(results)
    results_df=results_df.round(3)
    # Display the results
    print(results_df.shape)
    print(results_df)

    return results_df  
    #results_df.to_csv(filename, index=False)

In [11]:
counthit=0
# Define reverse-scored items
reverse_scored = [6, 21, 31, 2, 12, 27, 37, 8, 18, 23, 43, 9, 24, 34, 35, 41]
# Function to adjust scores
def adjust_score(row):
    global counthit
    #print("for this row", row['persona'],"$$$$$", row['Itemnum'])
    if row['Itemnum'] in reverse_scored:
        #print("hit")
        counthit=counthit+1
        return 6 - row['Answer']
    return row['Answer']

In [ ]:
print(counthit)

#### Combining all Dataframes

In [8]:
df_g1=pd.read_csv('results_bfi_goodp1.csv')
df_g2=pd.read_csv('results_bfi_goodp2.csv')

In [9]:
df_list=[df_g1,df_g2]
df_comb_g = pd.concat(df_list, ignore_index=True)

In [10]:
df_comb_g.shape

(225456, 5)

##### Adjusting score for reverse scored items

In [12]:
df_comb_g['adjusted_score'] = df_comb_g.apply(adjust_score,axis=1)

In [13]:
print(counthit)

81984

In [15]:
df_comb_g['adjusted_score'].shape

(225456,)

#### Averaging the score across all prompts

In [16]:
average_responses_g = df_comb_g.groupby(['Name', 'Itemnum','source'])['adjusted_score'].mean().reset_index()

In [17]:
average_responses_g.head(44)

                Name  Itemnum source  adjusted_score
0   A. T. Ariyaratne        1     RM        3.666667
1   A. T. Ariyaratne        2     RM        3.666667
2   A. T. Ariyaratne        3     RM        3.166667
3   A. T. Ariyaratne        4     RM        1.583333
4   A. T. Ariyaratne        5     RM        2.583333
5   A. T. Ariyaratne        6     RM        3.083333
6   A. T. Ariyaratne        7     RM        3.500000
7   A. T. Ariyaratne        8     RM        3.000000
8   A. T. Ariyaratne        9     RM        3.166667
9   A. T. Ariyaratne       10     RM        3.083333
10  A. T. Ariyaratne       11     RM        3.666667
11  A. T. Ariyaratne       12     RM        3.583333
12  A. T. Ariyaratne       13     RM        3.083333
13  A. T. Ariyaratne       14     RM        3.666667
14  A. T. Ariyaratne       15     RM        2.916667
15  A. T. Ariyaratne       16     RM        3.916667
16  A. T. Ariyaratne       17     RM        2.250000
17  A. T. Ariyaratne       18     RM        4.166667
18  A. T. Ariyaratne       19     RM        3.000000
19  A. T. Ariyaratne       20     RM        3.666667
20  A. T. Ariyaratne       21     RM        3.833333
21  A. T. Ariyaratne       22     RM        3.500000
22  A. T. Ariyaratne       23     RM        3.250000
23  A. T. Ariyaratne       24     RM        3.250000
24  A. T. Ariyaratne       25     RM        3.083333
25  A. T. Ariyaratne       26     RM        3.083333
26  A. T. Ariyaratne       27     RM        3.916667
27  A. T. Ariyaratne       28     RM        3.666667
28  A. T. Ariyaratne       29     RM        2.666667
29  A. T. Ariyaratne       30     RM        2.416667
30  A. T. Ariyaratne       31     RM        3.250000
31  A. T. Ariyaratne       32     RM        2.833333
32  A. T. Ariyaratne       33     RM        2.666667
33  A. T. Ariyaratne       34     RM        2.500000
34  A. T. Ariyaratne       35     RM        3.000000
35  A. T. Ariyaratne       36     RM        3.333333
36  A. T. Ariyaratne       37     RM        3.500000
37  A. T. Ariyaratne       38     RM        3.000000
38  A. T. Ariyaratne       39     RM        2.083333
39  A. T. Ariyaratne       40     RM        3.583333
40  A. T. Ariyaratne       41     RM        4.166667
41  A. T. Ariyaratne       42     RM        3.500000
42  A. T. Ariyaratne       43     RM        4.083333
43  A. T. Ariyaratne       44     RM        2.916667

#### Calculating bfi score

In [20]:
result_g_bfi=bfi_calc(average_responses_g)

(427, 7)
                       Name source  Extraversion  Agreeableness  \
0          A. T. Ariyaratne     RM         3.479          3.361
1         A.H.M. Noman Khan     RM         3.240          3.093
2             Abdon Nababan     RM         2.927          3.157
3       Abdul Razak Hussein     RM         2.865          3.074
4        Abdul Samad Ismail     RM         3.219          3.102
..                      ...    ...           ...            ...
422         Zacarias Sarian     RM         2.688          3.194
423     Zafrullah Chowdhury     RM         2.948          3.259
424  Zakiah Hanum Abd Hamid     RM         3.010          3.185
425           Élie Ducommun    NPP         3.240          3.463
426     Óscar Arias Sánchez    NPP         3.219          3.194

     Conscientiousness  Neuroticism  Openness
0                3.343        2.740     3.142
1                3.296        2.854     3.425
2                3.074        2.740     3.292
3                3.398        2.823     2.933
4                3.370        3.000     3.233
..                 ...          ...       ...
422              3.083        2.875     2.642
423              3.296        2.729     2.833
424              2.806        2.812     2.800
425              3.111        2.740     2.908
426              3.343        2.927     3.008

[427 rows x 7 columns]

##### Saving the result

In [21]:
result_g_bfi.to_csv('bfi_good_score.csv')

# Calculating sd3 results

In [ ]:
# combining all 12 sd3 good rows into a single dataframe
# analysing all the not answered ques items
# if answer is not a number , enforce Nan
# if ques item 26 is Nan, replace it with 3
# drop all rows with have all any Nan answer item
# adjust for the reverse scored items
# take average across all 12 prompts 
# calculate sd3 scores

In [8]:
f11_sd3_g1=pd.read_csv('results_sd3_goodp1.csv')
f11_sd3_g2=pd.read_csv('results_sd3_goodp2.csv')

In [9]:
df_list=[f11_sd3_g1,f11_sd3_g2]
df_sd3_g = pd.concat(df_list, ignore_index=True)

In [10]:
df_sd3_g.shape

(138348, 5)

In [11]:
# Convert the 'answer' column to numeric, non-numeric values become NaN
df_sd3_g['answer_numeric'] = pd.to_numeric(df_sd3_g['Answer'], errors='coerce')

# Group by 'name' and count the number of NaN values in 'answer_numeric'
non_numeric_counts = df_sd3_g[df_sd3_g['answer_numeric'].isna()].groupby('Name').size()

# Display the result
print(non_numeric_counts)

Series([], dtype: int64)

In [12]:
def print_frequency(lst):
    freq = Counter(lst)
    for item, count in freq.items():
        print(f"{item}: {count}")

In [14]:
# Filter rows where 'answer_numeric' is NaN and extract the 'itemnum'
non_numeric_itemnums = df_sd3_g[df_sd3_g['answer_numeric'].isna()]['Itemnum'].tolist()

# Display the result
print(print_frequency(non_numeric_itemnums))

None

In [17]:
df_sd3_g.head()

,Name,source,Item,Itemnum,Answer,answer_numeric
0,Barack Obama,NPP,It's not wise to tell your secrets,1,4,4
1,Barack Obama,NPP,I like to use clever manipulation to get my way,2,1,1
2,Barack Obama,NPP,"Whatever it takes, you must get the important ...",3,4,4
3,Barack Obama,NPP,Avoid direct conflict with others because they...,4,4,4
4,Barack Obama,NPP,It's wise to keep track of information that yo...,5,1,1

In [19]:
countsd3hits=0
# Define reverse-scored items
reverse_scored = reverse_scored = [11,15,17,20,25]
# Function to adjust scores
def adjust_score2(row):
    global countsd3hits
    #print("for this row", row['persona'],"$$$$$", row['Itemnum'])
    if row['Itemnum'] in reverse_scored:
        #print("hit")
        countsd3hits=countsd3hits+1
        return 6 - row['answer_numeric']
    
    return row['answer_numeric']

In [20]:
df_sd3_g['adjusted_score'] = df_sd3_g.apply(adjust_score2,axis=1)

In [21]:
print(countsd3hits)

25620

In [23]:
df_sd3_g.head(27)

,Name,source,Item,Itemnum,Answer,answer_numeric,adjusted_score
0,Barack Obama,NPP,It's not wise to tell your secrets,1,4,4,4
1,Barack Obama,NPP,I like to use clever manipulation to get my way,2,1,1,1
2,Barack Obama,NPP,"Whatever it takes, you must get the important ...",3,4,4,4
3,Barack Obama,NPP,Avoid direct conflict with others because they...,4,4,4,4
4,Barack Obama,NPP,It's wise to keep track of information that yo...,5,1,1,1
5,Barack Obama,NPP,You should wait for the right time to get back...,6,1,1,1
6,Barack Obama,NPP,There are things you should hide from other pe...,7,3,3,3
7,Barack Obama,NPP,"Make sure your plans benefit yourself, not others",8,4,4,4
8,Barack Obama,NPP,Most people can be manipulated,9,4,4,4
9,Barack Obama,NPP,People see me as a natural leader,10,4,4,4
10,Barack Obama,NPP,I hate being the center of attention,11,4,4,2
11,Barack Obama,NPP,Many group activities tend to be dull without me,12,4,4,4
12,Barack Obama,NPP,I know that I am special because everyone keep...,13,4,4,4
13,Barack Obama,NPP,I like to get acquainted with important people,14,3,3,3
14,Barack Obama,NPP,I feel embarrassed if someone compliments me,15,1,1,5
15,Barack Obama,NPP,I have been compared to famous people,16,5,5,5
16,Barack Obama,NPP,I am an average person,17,1,1,5
17,Barack Obama,NPP,I insist on getting the respect I deserve,18,3,3,3
18,Barack Obama,NPP,I like to get revenge on authorities,19,4,4,4
19,Barack Obama,NPP,I avoid dangerous situations,20,5,5,1
20,Barack Obama,NPP,Payback needs to be quick and nasty,21,5,5,5
21,Barack Obama,NPP,People often say I'm out of control,22,5,5,5
22,Barack Obama,NPP,It's true that I can be mean to others,23,4,4,4
23,Barack Obama,NPP,People who mess with me always regret it,24,3,3,3
24,Barack Obama,NPP,I have never gotten into trouble with the law,25,4,4,2
25,Barack Obama,NPP,I enjoy having sex with people I hardly know,26,5,5,5
26,Barack Obama,NPP,I'll say anything to get what I want,27,3,3,3

In [28]:
avg_sd3_g = df_sd3_g.groupby(['Name', 'Itemnum','source'])['adjusted_score'].mean().reset_index()

In [44]:
# Filter rows where Name is "A. T. Ariyaratne"
filtered_df = avg_sd3_g[avg_sd3_g['Name'] == 'A. T. Ariyaratne']

# Print the filtered DataFrame
print(filtered_df)

                Name  Itemnum source  adjusted_score
0   A. T. Ariyaratne        1     RM        2.583333
1   A. T. Ariyaratne        2     RM        2.500000
2   A. T. Ariyaratne        3     RM        3.583333
3   A. T. Ariyaratne        4     RM        3.666667
4   A. T. Ariyaratne        5     RM        2.833333
5   A. T. Ariyaratne        6     RM        2.250000
6   A. T. Ariyaratne        7     RM        2.500000
7   A. T. Ariyaratne        8     RM        3.666667
8   A. T. Ariyaratne        9     RM        2.500000
9   A. T. Ariyaratne       10     RM        3.750000
10  A. T. Ariyaratne       11     RM        2.500000
11  A. T. Ariyaratne       12     RM        3.166667
12  A. T. Ariyaratne       13     RM        3.333333
13  A. T. Ariyaratne       14     RM        2.833333
14  A. T. Ariyaratne       15     RM        3.250000
15  A. T. Ariyaratne       16     RM        2.416667
16  A. T. Ariyaratne       17     RM        2.750000
17  A. T. Ariyaratne       18     RM        3.416667
18  A. T. Ariyaratne       19     RM        3.166667
19  A. T. Ariyaratne       20     RM        2.416667
20  A. T. Ariyaratne       21     RM        2.083333
21  A. T. Ariyaratne       22     RM        2.416667
22  A. T. Ariyaratne       23     RM        1.750000
23  A. T. Ariyaratne       24     RM        3.166667
24  A. T. Ariyaratne       25     RM        2.833333
25  A. T. Ariyaratne       26     RM        2.583333
26  A. T. Ariyaratne       27     RM        2.500000

In [39]:
avg_sd3_g.columns

Index(['Name', 'Itemnum', 'source', 'adjusted_score'], dtype='object')

In [40]:
import pandas as pd
import numpy as np

def sd3_calc2(df):
    # Define the scoring keys
    scoring_key = {
        'Machiavellianism': [1, 2, 3, 4, 5, 6, 7, 8, 9],
        'Narcissism': [10, 11, 12, 13, 14, 15, 16, 17, 18],
        'Psychopathy': [19, 20, 21, 22, 23, 24, 25, 26, 27]
    }
    
    def calculate_trait_score(persona_data, trait_items):
        scores = []
        for item in trait_items:
            # Get the adjusted_score for the given item
            score = persona_data.loc[persona_data['Itemnum'] == item, 'adjusted_score'].iloc[0]
            scores.append(score)
        return np.mean(scores)
    
    # Group by Name and source and calculate scores
    results = []
    for (name, source), group in df.groupby(['Name', 'source']):
        scores = {'Name': name, 'source': source}
        for trait, items in scoring_key.items():
            scores[trait] = calculate_trait_score(group, items)
        results.append(scores)
    
    # Create a dataframe with the results
    results_df = pd.DataFrame(results)
    results_df = results_df.round(3)
    
    # Display the results
    print(results_df)
    return results_df

In [31]:
def sd3_calc(df):
    # Define the scoring keys
    scoring_key = {
        'Machiavellianism': [1,2,3,4,5,6,7,8,9],
        'Narcissism': [10,11,12,13,14,15,16,17,18],
        'Psychopathy': [19,20,21,22,23,24,25,26,27]
    }
    
    # # Define reverse-scored items
    # reverse_scored = [11,15,17,20,25]
    
    # # Function to adjust scores
    # def adjust_score(row):
    #     #print("for this row", row['persona'],"$$$$$", row['Itemnum'])
    #     if row['ItemNum'] in reverse_scored:
    #         #print("hit")
    #         return 6 - row['Answer']
    #     return row['Answer']
    
    # # Add adjusted score column
    # df['adjusted_score'] = df.apply(adjust_score,axis=1)
    #print(df[:44])
    # Function to calculate trait score
    def calculate_trait_score(persona_data, trait_items):
        scores = []
        for item in trait_items:
            #print("§§§§§§§§§§§§§§§§§§§§")
            score = persona_data.loc[persona_data['Itemnum'] == item, 'adjusted_score'].iloc[0]
           
            scores.append(score)
        return np.mean(scores)
    
    # Group by persona and calculate scores
    results = []
    for persona, source in df.groupby(['Name', 'source']):
        scores = {}
        for trait, items in scoring_key.items():
            scores[trait] = calculate_trait_score(source, items)
        results.append({'Name': persona,'source':source, **scores})
    
    # Create a dataframe with the results
    results_df = pd.DataFrame(results)
    results_df=results_df.round(3)
    # Display the results
    print(results_df)
    return results_df
    #results_df.to_csv(filename, index=False)

In [41]:
result_sd3_g=sd3_calc2(avg_sd3_g)

                       Name source  Machiavellianism  Narcissism  Psychopathy
0          A. T. Ariyaratne     RM             2.898       3.046        2.546
1         A.H.M. Noman Khan     RM             2.676       3.019        2.667
2             Abdon Nababan     RM             2.898       3.222        3.102
3       Abdul Razak Hussein     RM             2.870       3.167        2.852
4        Abdul Samad Ismail     RM             2.769       3.167        2.398
..                      ...    ...               ...         ...          ...
422         Zacarias Sarian     RM             3.019       3.093        2.685
423     Zafrullah Chowdhury     RM             2.685       2.981        2.685
424  Zakiah Hanum Abd Hamid     RM             2.250       2.769        2.546
425           Élie Ducommun    NPP             2.463       2.991        2.778
426     Óscar Arias Sánchez    NPP             2.685       3.222        2.389

[427 rows x 5 columns]

In [42]:
result_sd3_g.to_csv('sd3_good_score')

# Extra

#### Results for Falcon 11B prompt1+2 good

In [13]:
df_good=pd.read_csv('results_good11b.csv')
df_good=df_good[0:18788]
print(df_good.tail())

df_good.shape

                  Name source                                           Item  \
18783  Gerhard Fischer    GPP              Likes to reflect, play with ideas
18784  Gerhard Fischer    GPP                     Has few artistic interests
18785  Gerhard Fischer    GPP                 Likes to cooperate with others
18786  Gerhard Fischer    GPP                           Is easily distracted
18787  Gerhard Fischer    GPP  Is sophisticated in art, music, or Literature

       Itemnum  Answer
18783       40       1
18784       41       1
18785       42       1
18786       43       1
18787       44       5

(18788, 5)

In [14]:
df_good.groupby(['Name']).count()

                        source  Item  Itemnum  Answer
Name
A. T. Ariyaratne            44    44       44      44
A.H.M. Noman Khan           44    44       44      44
Abdon Nababan               44    44       44      44
Abdul Razak Hussein         44    44       44      44
Abdul Samad Ismail          44    44       44      44
...                        ...   ...      ...     ...
Zacarias Sarian             44    44       44      44
Zafrullah Chowdhury         44    44       44      44
Zakiah Hanum Abd Hamid      44    44       44      44
Élie Ducommun               44    44       44      44
Óscar Arias Sánchez         44    44       44      44

[427 rows x 4 columns]

In [15]:
df_good

,Name,source,Item,Itemnum,Answer
0,Barack Obama,NPP,Is talkative,1,4
1,Barack Obama,NPP,Tends to find fault with others,2,3
2,Barack Obama,NPP,Does a thorough job,3,5
3,Barack Obama,NPP,"Is depressed, blue",4,1
4,Barack Obama,NPP,"Is original, comes up with new ideas",5,1
...,...,...,...,...,...
18783,Gerhard Fischer,GPP,"Likes to reflect, play with ideas",40,1
18784,Gerhard Fischer,GPP,Has few artistic interests,41,1
18785,Gerhard Fischer,GPP,Likes to cooperate with others,42,1
18786,Gerhard Fischer,GPP,Is easily distracted,43,1
18787,Gerhard Fischer,GPP,"Is sophisticated in art, music, or Literature",44,5

In [16]:
df_good.dtypes

Name       object
source     object
Item       object
Itemnum     int64
Answer      int64
dtype: object

In [17]:
bfi_calc(df_good,'goodp1_1_bfi.csv')

                       Name  Extraversion  Agreeableness  Conscientiousness  \
0          A. T. Ariyaratne         3.875          3.000              3.778
1         A.H.M. Noman Khan         1.750          3.222              2.667
2             Abdon Nababan         2.875          2.889              2.444
3       Abdul Razak Hussein         3.000          2.889              2.444
4        Abdul Samad Ismail         3.000          3.111              4.000
..                      ...           ...            ...                ...
422         Zacarias Sarian         3.125          3.111              3.222
423     Zafrullah Chowdhury         2.750          3.444              3.333
424  Zakiah Hanum Abd Hamid         2.375          4.444              2.000
425           Élie Ducommun         3.250          3.556              3.222
426     Óscar Arias Sánchez         4.125          3.444              3.667

     Neuroticism  Openness
0          2.500       2.6
1          3.375       3.5
2          2.375       3.3
3          4.125       4.0
4          3.250       2.9
..           ...       ...
422        3.375       2.4
423        3.125       3.2
424        2.375       2.2
425        2.375       3.0
426        3.000       2.2

[427 rows x 6 columns]

In [5]:
df_good=pd.read_csv('results_bfi_goodp2.csv')
df_good=pd.read_csv('results_good11b.csv')
df_good=df_good[0:18788]
print(df_good.tail())

df_good.shape

In [6]:

df_good=df_good[37576:]
print(df_good.head())

df_good.shape

               Name source                                  Item  Itemnum  \
37576  Barack Obama    NPP                          Is talkative        1
37577  Barack Obama    NPP       Tends to find fault with others        2
37578  Barack Obama    NPP                   Does a thorough job        3
37579  Barack Obama    NPP                    Is depressed, blue        4
37580  Barack Obama    NPP  Is original, comes up with new ideas        5

       Answer
37576     1.0
37577     1.0
37578     1.0
37579     1.0
37580     4.0

(18788, 5)

In [7]:
res_df=bfi_calc(df_good)
res_df.to_csv('good_bfi.csv', mode='a', header=False, index=False)

                       Name  Extraversion  Agreeableness  Conscientiousness  \
0          A. T. Ariyaratne         2.625          3.333              3.667
1         A.H.M. Noman Khan         3.375          3.333              2.556
2             Abdon Nababan         2.875          3.778              3.667
3       Abdul Razak Hussein         2.875          3.222              4.000
4        Abdul Samad Ismail         3.000          3.000              4.000
..                      ...           ...            ...                ...
422         Zacarias Sarian         2.875          2.667              2.444
423     Zafrullah Chowdhury         2.875          3.000              3.556
424  Zakiah Hanum Abd Hamid         3.375          3.111              2.667
425           Élie Ducommun         2.625          4.111              4.444
426     Óscar Arias Sánchez         2.375          3.667              3.222

     Neuroticism  Openness
0          3.750       2.5
1          2.500       4.1
2          3.125       3.7
3          4.000       4.5
4          3.375       3.3
..           ...       ...
422        3.500       2.9
423        2.375       2.8
424        2.750       4.0
425        2.625       3.4
426        2.625       2.2

[427 rows x 6 columns]

#### Results for Falcon 11B prompt1+2 bad

In [25]:
df_bad=pd.read_csv('results_bad11b.csv')
df_bad=df_bad[0:19668]
print(df_bad.head())

              Name     source                                  Item  Itemnum  \
0  Osama bin Laden  Terrorist                          Is talkative        1
1  Osama bin Laden  Terrorist       Tends to find fault with others        2
2  Osama bin Laden  Terrorist                   Does a thorough job        3
3  Osama bin Laden  Terrorist                    Is depressed, blue        4
4  Osama bin Laden  Terrorist  Is original, comes up with new ideas        5

   Answer
0       4
1       1
2       4
3       1
4       1

In [26]:
df_bad.shape

(19668, 5)

In [27]:

df_bad.groupby(['Name']).count()

                         source  Item  Itemnum  Answer
Name
2 Pistols                    44    44       44      44
Abdelhamid Abaaoud           44    44       44      44
Abdolmalek Rigi              44    44       44      44
Abdulaziz al-Omari           44    44       44      44
Abdullah Ahmed Abdullah      44    44       44      44
...                         ...   ...      ...     ...
Yevno Azef                   44    44       44      44
Yoo Young-chul               44    44       44      44
Yoshio Kodama                44    44       44      44
Zodiac Killer                44    44       44      44
Ángel Maturino Reséndiz      44    44       44      44

[447 rows x 4 columns]

In [28]:
df_bad.dtypes

Name       object
source     object
Item       object
Itemnum     int64
Answer      int64
dtype: object

In [29]:
res_df=bfi_calc(df_bad)
res_df.to_csv('bad_bfi.csv',index=False)

                        Name  Extraversion  Agreeableness  Conscientiousness  \
0                  2 Pistols         3.875          2.778              2.667
1         Abdelhamid Abaaoud         3.000          3.778              2.778
2            Abdolmalek Rigi         3.000          3.667              3.667
3         Abdulaziz al-Omari         2.625          3.222              2.667
4    Abdullah Ahmed Abdullah         2.750          2.667              3.444
..                       ...           ...            ...                ...
442               Yevno Azef         3.625          3.000              2.778
443           Yoo Young-chul         2.250          2.444              3.444
444            Yoshio Kodama         2.875          3.444              4.111
445            Zodiac Killer         2.500          3.222              3.556
446  Ángel Maturino Reséndiz         1.750          2.778              1.444

     Neuroticism  Openness
0          2.625       2.5
1          1.875       3.4
2          2.375       2.9
3          2.125       3.3
4          2.000       3.1
..           ...       ...
442        2.750       3.0
443        2.125       2.5
444        1.625       1.8
445        3.250       2.3
446        1.875       3.5

[447 rows x 6 columns]

In [30]:
df_bad=pd.read_csv('results_bad11b.csv')
df_bad=df_bad[19668:]
print(df_bad.head())

                  Name     source                                  Item  \
19668  Osama bin Laden  Terrorist                          Is talkative
19669  Osama bin Laden  Terrorist       Tends to find fault with others
19670  Osama bin Laden  Terrorist                   Does a thorough job
19671  Osama bin Laden  Terrorist                    Is depressed, blue
19672  Osama bin Laden  Terrorist  Is original, comes up with new ideas

       Itemnum  Answer
19668        1       1
19669        2       4
19670        3       4
19671        4       1
19672        5       5

In [31]:
df_bad.shape

(19668, 5)

In [32]:
res_df=bfi_calc(df_bad)
res_df.to_csv('bad_bfi.csv', mode='a', header=False,index=False)

                        Name  Extraversion  Agreeableness  Conscientiousness  \
0                  2 Pistols         2.750          2.222              2.444
1         Abdelhamid Abaaoud         2.875          2.667              3.333
2            Abdolmalek Rigi         2.750          3.667              3.667
3         Abdulaziz al-Omari         3.750          3.444              2.556
4    Abdullah Ahmed Abdullah         3.875          2.889              3.556
..                       ...           ...            ...                ...
442               Yevno Azef         2.250          2.778              3.444
443           Yoo Young-chul         2.875          3.111              3.667
444            Yoshio Kodama         3.500          2.556              3.111
445            Zodiac Killer         3.125          4.333              3.333
446  Ángel Maturino Reséndiz         2.250          3.000              2.444

     Neuroticism  Openness
0          2.750       2.5
1          3.625       2.5
2          2.375       3.1
3          3.500       3.6
4          2.750       3.0
..           ...       ...
442        2.375       3.1
443        2.000       2.7
444        3.000       2.9
445        2.250       3.4
446        3.250       4.0

[447 rows x 6 columns]

### Results for Falcon 11B neutral prompt 1

In [33]:
df_neutral=pd.read_csv('results_neutral11b.csv')

print(df_neutral.head())

              Name source                                  Item  Itemnum  \
0  Michael Jackson  Actor                          Is talkative        1
1  Michael Jackson  Actor       Tends to find fault with others        2
2  Michael Jackson  Actor                   Does a thorough job        3
3  Michael Jackson  Actor                    Is depressed, blue        4
4  Michael Jackson  Actor  Is original, comes up with new ideas        5

   Answer
0       1
1       1
2       1
3       1
4       1

In [34]:
df_neutral.shape

(24376, 5)

In [35]:
res_df=bfi_calc(df_neutral)
res_df.to_csv('neutral_bfi.csv',index=False)

                       Name  Extraversion  Agreeableness  Conscientiousness  \
0                   50 Cent         2.875          2.333              3.222
1               A. A. Milne         2.750          2.778              3.222
2    Abdelkader El Djezairi         2.375          3.444              3.000
3           Abraham Lincoln         2.125          3.556              2.667
4                Ada Yonath         4.125          3.000              2.556
..                      ...           ...            ...                ...
549     Zbigniew Brzezinski         3.125          3.778              2.778
550                 Zendaya         3.000          1.889              3.000
551           Zhan Beleniuk         3.375          4.444              2.778
552      Zlatan Ibrahimovic         2.375          3.778              1.889
553              Édith Piaf         4.250          3.444              3.778

     Neuroticism  Openness
0          1.875       2.6
1          3.000       3.1
2          2.875       3.1
3          3.875       3.0
4          2.875       2.7
..           ...       ...
549        2.000       2.7
550        2.875       2.6
551        2.875       1.8
552        1.750       2.5
553        3.000       2.1

[554 rows x 6 columns]